INT0008.Ladok3.Events/Src/Schemas/Ladok/schemas.ladok.se-examen.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ar="http://schemas.ladok.se/arendestod" xmlns:at="http://schemas.ladok.se/attestering" xmlns:base="http://schemas.ladok.se" xmlns:dap="http://schemas.ladok.se/dap" xmlns:events="http://schemas.ladok.se/events" xmlns:ex="http://schemas.ladok.se/examen" elementFormDefault="qualified" targetNamespace="http://schemas.ladok.se/examen" version="1.0">

  <xs:import namespace="http://schemas.ladok.se/dap" schemaLocation="schemas.ladok.se-dap.xsd"/>

  <xs:import namespace="http://schemas.ladok.se" schemaLocation="schemas.ladok.se.xsd"/>

  <xs:import namespace="http://schemas.ladok.se/events" schemaLocation="schemas.ladok.se-events.xsd"/>

  <xs:import namespace="http://schemas.ladok.se/arendestod" schemaLocation="schemas.ladok.se-ar.xsd"/>

  <xs:import namespace="http://schemas.ladok.se/attestering" schemaLocation="schemas.ladok.se-at.xsd"/>

  <xs:element name="AndraMeriter" type="ex:AndraMeriter"/>

  <xs:element name="AnnanMerit" type="ex:AnnanMerit"/>

  <xs:element name="BeslutsinformationUtfardaBevis" type="ex:BeslutsinformationUtfardaBevis"/>

  <xs:element name="BevisDokumentunderlagRepresentation" type="ex:BevisDokumentunderlagRepresentation"/>

  <xs:element name="Bevisansokan" type="ex:Bevisansokan"/>

  <xs:element name="Bevisbenamning" type="ex:Bevisbenamning"/>

  <xs:element name="BevisbenamningEvent" type="ex:BevisbenamningEvent"/>

  <xs:element name="BevisbenamningLista" type="ex:BevisbenamningLista"/>

  <xs:element name="BevisgrundtypLista" type="ex:BevisgrundtypLista"/>

  <xs:element name="Bevisinformation" type="ex:Bevisinformation"/>

  <xs:element name="BevisinformationLista" type="ex:BevisinformationLista"/>

  <xs:element name="Beviskombination" type="ex:Beviskombination"/>

  <xs:element name="BeviskombinationForMassutfardande" type="ex:BeviskombinationForMassutfardande"/>

  <xs:element name="BeviskombinationForMassutfardandeLista" type="ex:BeviskombinationForMassutfardandeLista"/>

  <xs:element name="BeviskombinationLista" type="ex:BeviskombinationLista"/>

  <xs:element name="BeviskombinationSok" type="ex:BeviskombinationSok"/>

  <xs:element name="BeviskombinationSokLista" type="ex:BeviskombinationSokLista"/>

  <xs:element name="Bevismetadata" type="ex:Bevismetadata"/>

  <xs:element name="BevismetadataLista" type="ex:BevismetadataLista"/>

  <xs:element name="Bevisrad" type="ex:Bevisrad"/>

  <xs:element name="BevisradGiltigMeritForBevis" type="ex:BevisradGiltigMeritForBevis"/>

  <xs:element name="BevisradProjekttitel" type="ex:BevisradProjekttitel"/>

  <xs:element name="BevisradRubrik" type="ex:BevisradRubrik"/>

  <xs:element name="BevisradTilgodoraknandeForBevis" type="ex:BevisradTillgodoraknandeForBevis"/>

  <xs:element name="Bevisrubrik" type="ex:Bevisrubrik"/>

  <xs:element name="Bevisrubriker" type="ex:Bevisrubriker"/>

  <xs:element name="Bevistext" type="ex:Bevistext"/>

  <xs:element name="BevistextLista" type="ex:BevistextLista"/>

  <xs:element name="Bevisunderlag" type="ex:Bevisunderlag"/>

  <xs:element name="BevisunderlagLista" type="ex:BevisunderlagLista"/>

  <xs:element name="Dokumentkonfiguration" type="ex:Dokumentkonfiguration"/>

  <xs:element name="Dokumentkonfigurationer" type="ex:Dokumentkonfigurationer"/>

  <xs:element name="Dokumentmall" type="ex:Dokumentmall"/>

  <xs:element name="Dokumentmallar" type="ex:Dokumentmallar"/>

  <xs:element name="Dokumentmallparameter" type="ex:Dokumentmallparameter"/>

  <xs:element name="Enhet" type="ex:Enhet"/>

  <xs:element name="ExternPart" type="ex:ExternPart"/>

  <xs:element name="Fotnot" type="ex:Fotnot"/>

  <xs:element name="Fotnoter" type="ex:Fotnoter"/>

  <xs:element name="GiltigAnnanMeritForBevis" type="ex:GiltigAnnanMeritForBevis"/>

  <xs:element name="GiltigaMeriterForBevis" type="ex:GiltigaMeriterForBevis"/>

  <xs:element name="Historikpost" type="ex:Historikpost"/>

  <xs:element name="HistorikpostLista" type="ex:HistorikpostLista"/>

  <xs:element name="IngaendeResultat" type="ex:IngaendeResultat"/>

  <xs:element name="InganendePart" type="ex:InganendePart"/>

  <xs:element name="Kurslista" type="ex:Kurslista"/>

  <xs:element name="Larosatesinformation" type="ex:Larosatesinformation"/>

  <xs:element name="LokalBevistypsinformation" type="ex:LokalBevistypsinformation"/>

  <xs:element name="Markning" type="ex:Markning"/>

  <xs:element name="MarkningEvent" type="ex:MarkningEvent"/>

  <xs:element name="MarkningLista" type="ex:MarkningLista"/>

  <xs:element name="Markningsnyckel" type="ex:Markningsnyckel"/>

  <xs:element name="Markningsnycklar" type="ex:Markningsnycklar"/>

  <xs:element name="MarkningstypLista" type="ex:MarkningstypLista"/>

  <xs:element name="Markningsvarde" type="ex:Markningsvarde"/>

  <xs:element name="Markningsvarden" type="ex:Markningsvarden"/>

  <xs:element name="NationellBevistyp" type="ex:NationellBevistyp"/>

  <xs:element name="NationellBevistypEvent" type="ex:NationellBevistypEvent"/>

  <xs:element name="NationellBevistypLista" type="ex:NationellBevistypLista"/>

  <xs:element name="Precisering" type="ex:Precisering"/>

  <xs:element name="PreciseringEvent" type="ex:PreciseringEvent"/>

  <xs:element name="PreciseringLista" type="ex:PreciseringLista"/>

  <xs:element name="PreciseringsInfo" type="ex:PreciseringsInfo"/>

  <xs:element name="Preciseringsgruppering" type="ex:Preciseringsgruppering"/>

  <xs:element name="PreciseringsgrupperingLista" type="ex:PreciseringsgrupperingLista"/>

  <xs:element name="PreciseringsgrupperingstypLista" type="ex:PreciseringsgrupperingstypLista"/>

  <xs:element name="Preciseringsinformation" type="ex:Preciseringsinformation"/>

  <xs:element name="PreciseringsinformationLista" type="ex:PreciseringsinformationLista"/>

  <xs:element name="Preciseringsmojlighet" type="ex:Preciseringsmojlighet"/>

  <xs:element name="Preciseringstyp" type="ex:Preciseringstyp"/>

  <xs:element name="PreciseringstypLista" type="ex:PreciseringstypLista"/>

  <xs:element name="ResultatFotnot" type="ex:ResultatFotnot"/>

  <xs:element name="ResultatIntygParametrar" type="ex:ResultatIntygParametrar"/>

  <xs:element name="ResultatPaUtbildning" type="ex:ResultatPaUtbildning"/>

  <xs:element name="ResultatPaUtbildningar" type="ex:ResultatPaUtbildningar"/>

  <xs:element name="SkapaLokalBevistypsinformation" type="ex:SkapaLokalBevistypsinformation"/>

  <xs:element name="SokresultatUtfardatBevisUtdata" type="ex:SokresultatUtfardatBevisUtdata"/>

  <xs:element name="StudentsUtfardadeBevisInformationskonverteringRepresentation" type="ex:StudentsUtfardadeBevisInformationskonverteringRepresentation"/>

  <xs:element name="StudieordningListaRepresentation" type="ex:StudieordningListaRepresentation"/>

  <xs:element name="StudieordningRepresentation" type="ex:StudieordningRepresentation"/>

  <xs:element name="TillgodoraknandeForBevis" type="ex:TillgodoraknandeForBevis"/>

  <xs:element name="TillgodoraknandegrunderForBevis" type="ex:TillgodoraknandegrunderForBevis"/>

  <xs:element name="TillgodoraknandemalFritext" type="ex:TillgodoraknandemalFritext"/>

  <xs:element name="TillgodoraknandemalKurs" type="ex:TillgodoraknandemalKurs"/>

  <xs:element name="UnderlagForAnnanMeritForInformationskonverteringForBevisRepresentation" type="ex:UnderlagForAnnanMeritForInformationskonverteringForBevisRepresentation"/>

  <xs:element name="UnderlagIngaendeKurs" type="ex:UnderlagIngaendeKurs"/>

  <xs:element name="UnderlagIngaendeKurslista" type="ex:UnderlagIngaendeKurslista"/>

  <xs:element name="Utbildningsform" type="ex:Utbildningsform"/>

  <xs:element name="Utbildningsformer" type="ex:Utbildningsformer"/>

  <xs:element name="Utbildningsinstans" type="ex:Utbildningsinstans"/>

  <xs:element name="Utbildningsinstanser" type="ex:Utbildningsinstanser"/>

  <xs:element name="Utbildningssamarbete" type="ex:Utbildningssamarbete"/>

  <xs:element name="Utbildningssamarbeten" type="ex:Utbildningssamarbeten"/>

  <xs:element name="Utbildningstyp" type="ex:Utbildningstyp"/>

  <xs:element name="Utbildningstyper" type="ex:Utbildningstyper"/>

  <xs:element name="UtfardadKursbevisEvent" type="ex:UtfardadKursbevisEvent"/>

  <xs:element name="UtfardatBevis" type="ex:UtfardatBevis"/>

  <xs:element name="UtfardatBevisBorttagetEvent" type="ex:UtfardatBevisBorttagetEvent"/>

  <xs:element name="UtfardatBevisEvent" type="ex:UtfardatBevisEvent"/>

  <xs:element name="UtfardatBevisInformationskonverteringRepresentation" type="ex:UtfardatBevisInformationskonverteringRepresentation"/>

  <xs:element name="UtfardatBevisInrapportering" type="ex:UtfardatBevisInrapportering"/>

  <xs:element name="UtfardatBevisLista" type="ex:UtfardatBevisLista"/>

  <xs:element name="UtfardatBevisUppdateradEvent" type="ex:UtfardatBevisUppdateradEvent"/>

  <xs:element name="UtfardatBevisUtdata" type="ex:UtfardatBevisUtdata"/>

  <xs:element name="VerifierbaraIntygLista" type="ex:VerifierbaraIntygLista"/>

  <xs:element name="VerifierbartStudieIntyg" type="ex:VerifierbartStudieIntyg"/>

  <xs:complexType name="SkapaLokalBevistypsinformation">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExterntBeslut" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Dokumentkonfigurationer">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Dokumentkonfiguration"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Dokumentkonfiguration">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element minOccurs="0" ref="ex:Dokumentmall"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Dokumentmallparametrar" type="ex:Dokumentmallparameter"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Dokumentmall">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element minOccurs="0" name="Dokumenttyp" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Platshallare" type="xs:string"/>
          <xs:element minOccurs="0" name="SokvagTillMall" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Dokumentmallparameter">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Nyckel" type="xs:string"/>
          <xs:element minOccurs="0" name="Varde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BevisradGiltigMeritForBevis">
    <xs:complexContent>
      <xs:extension base="ex:Bevisrad">
        <xs:sequence>
          <xs:element minOccurs="0" name="GiltigMeritForBevisUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Bevisrad">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Bevisradstyp" type="ex:Bevisradstyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BevisradRubrik">
    <xs:complexContent>
      <xs:extension base="ex:Bevisrad">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BevisradTillgodoraknandeForBevis">
    <xs:complexContent>
      <xs:extension base="ex:BevisradGiltigMeritForBevis">
        <xs:sequence>
          <xs:element minOccurs="0" name="ValtInnehall" type="ex:BevisradValtInnehallTillgodoraknande"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationellBevistyp">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Bevisgrundtyp" type="ex:BevisgrundtypRepresentation"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Markning"/>
          <xs:element minOccurs="0" name="Omfattning" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Preciseringsmojlighet"/>
          <xs:element minOccurs="0" name="StudieordningID" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Utbildningstyper" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Markning">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="Markningstyp" type="ex:Markningstyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Preciseringsmojlighet">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Obligatorisk" type="xs:boolean"/>
          <xs:element minOccurs="0" ref="ex:Preciseringstyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Preciseringstyp">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamning" type="xs:string"/>
          <xs:element minOccurs="0" name="BenamningPlural" type="xs:string"/>
          <xs:element minOccurs="0" name="KanGrupperasMed" type="xs:string"/>
          <xs:element minOccurs="0" name="Namn" type="xs:string"/>
          <xs:element name="Ordningstal" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtfardatBevisInrapportering">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beslutsfattare" type="xs:string"/>
      <xs:element minOccurs="0" name="Utfardandedatum" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UtfardatBevis">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="AndraMeriter" type="ex:AnnanMerit"/>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="BeslutsfattareUID" type="xs:string"/>
          <xs:element minOccurs="0" name="BeslutsfattareVisningsnamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Bevisbenamningskod" type="xs:string"/>
          <xs:element minOccurs="0" name="BevismetadataUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Bevistyp" type="ex:NationellBevistyp"/>
          <xs:element name="Borttaget" type="xs:boolean"/>
          <xs:element minOccurs="0" name="DatumForAvslutadeStudier" type="xs:date"/>
          <xs:element minOccurs="0" ref="ex:Enhet"/>
          <xs:element minOccurs="0" name="GemensamExamen" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="GiltigaMeriterForBevis" type="ex:GiltigMeritForBevis"/>
          <xs:element minOccurs="0" name="HuvudsakligKurspaketeringsinstansUID" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="IngaendePart" type="ex:InganendePart"/>
          <xs:element minOccurs="0" name="Omfattning" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Preciseringar" type="ex:Precisering"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="UnderliggandeKurspaketeringsinstansUID" type="xs:string"/>
          <xs:element minOccurs="0" ref="ex:Utbildningssamarbete"/>
          <xs:element minOccurs="0" name="UtfardandeLarosateID" type="xs:int"/>
          <xs:element minOccurs="0" name="Utfardandedatum" type="xs:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnnanMerit">
    <xs:complexContent>
      <xs:extension base="ex:GiltigMeritForBevis">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlternativBenamning" type="xs:string"/>
          <xs:element minOccurs="0" name="Benamning" type="xs:string"/>
          <xs:element minOccurs="0" name="Beskrivning" type="xs:string"/>
          <xs:element minOccurs="0" name="Betygsskala" type="xs:string"/>
          <xs:element minOccurs="0" name="Examinationsdatum" type="xs:date"/>
          <xs:element minOccurs="0" name="Examinator" type="xs:string"/>
          <xs:element minOccurs="0" name="Omfattning" type="xs:string"/>
          <xs:element minOccurs="0" name="Resultat" type="xs:string"/>
          <xs:element minOccurs="0" name="ResultatAlternativBenamning" type="xs:string"/>
          <xs:element minOccurs="0" name="Ursprung" type="xs:string"/>
          <xs:element minOccurs="0" name="Utbildningskod" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GiltigMeritForBevis">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Typ" type="ex:GiltigMeritForExamenTyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GiltigAnnanMeritForBevis">
    <xs:complexContent>
      <xs:extension base="ex:GiltigMeritForBevis">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlternativBenamning" type="xs:string"/>
          <xs:element minOccurs="0" name="Benamning" type="xs:string"/>
          <xs:element minOccurs="0" name="Beskrivning" type="xs:string"/>
          <xs:element minOccurs="0" name="Betygsgradbenamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Betygsgradkod" type="xs:string"/>
          <xs:element minOccurs="0" name="Betygsskala" type="xs:string"/>
          <xs:element minOccurs="0" name="Betygsskalabenamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Betygsskalakod" type="xs:string"/>
          <xs:element minOccurs="0" ref="ex:Enhet"/>
          <xs:element minOccurs="0" name="Examinationsdatum" type="xs:date"/>
          <xs:element minOccurs="0" name="Examinator" type="xs:string"/>
          <xs:element minOccurs="0" name="ExternPartBenamning" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Larosatesbenamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Omfattningsvarde" type="xs:decimal"/>
          <xs:element minOccurs="0" name="Resultat" type="xs:string"/>
          <xs:element minOccurs="0" name="Utbildningskod" type="xs:string"/>
          <xs:element minOccurs="0" ref="ex:Utbildningstyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Enhet">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningstyp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="AvserTillfalle" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TillgodoraknandeForBevis">
    <xs:complexContent>
      <xs:extension base="ex:GiltigMeritForBevis">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamning" type="xs:string"/>
          <xs:element minOccurs="0" name="Beslutsdatum" type="xs:date"/>
          <xs:element minOccurs="0" name="Beslutsfattare" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Malrepresentation" type="ex:TillgodoraknandemalBas"/>
          <xs:element minOccurs="0" name="Tillgodogrunder" type="ex:TillgodoraknandegrunderForBevis"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="TillgodoraknandemalBas">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Typ" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TillgodoraknandegrunderForBevis">
    <xs:complexContent>
      <xs:extension base="ex:GiltigMeritForBevis">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="GrundAndraMeriter" type="ex:AnnanMerit"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="GrundAndraResultat" type="ex:GiltigAnnanMeritForBevis"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="GrundResultatPaUtbildning" type="ex:ResultatPaUtbildning"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ResultatPaUtbildning">
    <xs:complexContent>
      <xs:extension base="ex:GiltigMeritForBevis">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlternativProjekttitel" type="xs:string"/>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="BetygsgradBenamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Examinationsdatum" type="xs:date"/>
          <xs:element minOccurs="0" name="Examinator" type="xs:string"/>
          <xs:element minOccurs="0" name="Kursbenamning" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Kurskod" type="xs:string"/>
          <xs:element minOccurs="0" name="Kursomfattning" type="xs:decimal"/>
          <xs:element minOccurs="0" name="Larosatesbenamningar" type="base:Benamningar"/>
          <xs:element name="Makulerat" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Omfattning" type="xs:decimal"/>
          <xs:element minOccurs="0" name="Projekttitel" type="xs:string"/>
          <xs:element minOccurs="0" name="ResultatUIDRef" type="xs:string"/>
          <xs:element minOccurs="0" name="Studieordning" type="ex:StudieordningRepresentation"/>
          <xs:element minOccurs="0" name="Grundtyp" type="xs:string"/>
          <xs:element minOccurs="0" name="Utbildningskod" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudieordningRepresentation">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element minOccurs="0" ref="ex:Enhet"/>
          <xs:element minOccurs="0" name="UtbildningsformID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TillgodoraknandemalKurs">
    <xs:complexContent>
      <xs:extension base="ex:TillgodoraknandemalBas">
        <xs:sequence>
          <xs:element minOccurs="0" ref="ex:Utbildningsinstans"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningsinstans">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" ref="ex:Enhet"/>
          <xs:element minOccurs="0" name="Omfattning" type="xs:decimal"/>
          <xs:element name="SjalvstandigUtbildningstyp" type="xs:boolean"/>
          <xs:element minOccurs="0" name="UtbildningUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Utbildningskod" type="xs:string"/>
          <xs:element minOccurs="0" name="UtbildningstypID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TillgodoraknandemalFritext">
    <xs:complexContent>
      <xs:extension base="ex:TillgodoraknandemalBas">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Beskrivningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Enhetskod" type="xs:string"/>
          <xs:element minOccurs="0" name="Omfattning" type="xs:decimal"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InganendePart">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element name="AdministrerandeLarosate" type="xs:boolean"/>
          <xs:element minOccurs="0" name="IngaendeExternPart" type="ex:ExternPart"/>
          <xs:element minOccurs="0" name="IngaendeLarosate" type="ex:Larosatesinformation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ExternPart">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Larosatesinformation">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Precisering">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anteckning" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Markningsvarden" type="xs:int"/>
          <xs:element name="PreciseringsgrupperingID" type="xs:int"/>
          <xs:element ref="ex:Preciseringstyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningssamarbete">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="GemensamExamen" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="IngaendePart" type="ex:InganendePart"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PreciseringLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Precisering"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BevisradProjekttitel">
    <xs:complexContent>
      <xs:extension base="ex:Bevisrad">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResultatPaUtbildningUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Markningsnyckel">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningsformer">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Utbildningsformer" type="ex:Utbildningsform"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningsform">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationellBevistypEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Bevisgrundtyp" type="ex:BevisgrundtypRepresentation"/>
          <xs:element minOccurs="0" name="Handelsetyp" type="xs:string"/>
          <xs:element minOccurs="0" name="Markningar" type="ex:MarkningLista"/>
          <xs:element minOccurs="0" name="NationellBevistypUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Omfattning" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Preciseringsmojligheter" type="ex:Preciseringsmojlighet"/>
          <xs:element minOccurs="0" name="StudieordningID" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Utbildningstyper" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MarkningLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Markning"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PreciseringsgrupperingstypLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Preciseringsgrupperingstyp" type="ex:Preciseringsgrupperingstyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Fotnoter">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Fotnot"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Fotnot">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="EngelskBenamning" type="xs:string"/>
          <xs:element minOccurs="0" name="SvenskBenamning" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UnderlagForAnnanMeritForInformationskonverteringForBevisRepresentation">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="UtfardatBevisUppdateradEvent">
    <xs:complexContent>
      <xs:extension base="ex:UtfardatBevisEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtfardatBevisEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="AndraMeriter" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="AndraResultat" type="xs:string"/>
          <xs:element minOccurs="0" name="BevisbenamningUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Bevisgrundtyp" type="ex:BevisgrundtypRepresentation"/>
          <xs:element minOccurs="0" name="DatumForSlutfordUtbildning" type="xs:date"/>
          <xs:element minOccurs="0" name="DatumForUtfardatBevis" type="xs:date"/>
          <xs:element minOccurs="0" name="ExterntBeslut" type="xs:boolean"/>
          <xs:element minOccurs="0" name="GemensamExamen" type="xs:boolean"/>
          <xs:element minOccurs="0" name="HuvudsakligKurspaketeringsinstansUID" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="IngaendePart" type="ex:IngaendePartEventPart"/>
          <xs:element minOccurs="0" name="NationellBevistypUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Omfattning" type="base:Omfattning"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Preciseringar" type="ex:PreciseringsInfo"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResultatPaHelKursLista" type="xs:string"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Tillgodoraknanden" type="xs:string"/>
          <xs:element minOccurs="0" name="UnderliggandeKurspaketeringsinstansUID" type="xs:string"/>
          <xs:element minOccurs="0" name="UtbildningssamarbeteID" type="xs:int"/>
          <xs:element minOccurs="0" name="UtfardandeLarosate" type="xs:int"/>
          <xs:element minOccurs="0" name="UtfardatBevisUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IngaendePartEventPart">
    <xs:sequence>
      <xs:element name="AdministrerandeLarosate" type="xs:boolean"/>
      <xs:element minOccurs="0" name="IngaendeExternPartID" type="xs:int"/>
      <xs:element minOccurs="0" name="IngaendeLarosateID" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PreciseringsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:string"/>
      <xs:element minOccurs="0" name="Kod" type="xs:string"/>
      <xs:element name="PreciseringsgrupperingID" type="xs:int"/>
      <xs:element minOccurs="0" name="PreciseringstypsNamn" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultatPaUtbildningar">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ResultatPaUtbildningar" type="ex:ResultatPaUtbildning"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultatFotnot">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResultatPaUtbildningUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Typ" type="xs:string"/>
          <xs:element name="Andringsbar" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LokalBevistypsinformation">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="ExterntBeslut" type="xs:boolean"/>
          <xs:element name="NationellBevistypUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BevisDokumentunderlagRepresentation">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Fritext" type="xs:string"/>
          <xs:element minOccurs="0" name="IngaendeKurslista" type="ex:UnderlagIngaendeKurslista"/>
          <xs:element minOccurs="0" name="Personnummer" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UnderlagIngaendeKurslista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Ingaendekurser" type="ex:UnderlagIngaendeKurs"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UnderlagIngaendeKurs">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="EngelskKursbenamning" type="xs:string"/>
          <xs:element minOccurs="0" name="EngelsktBetygsvarde" type="xs:string"/>
          <xs:element minOccurs="0" name="Examinationsdatum" type="xs:string"/>
          <xs:element minOccurs="0" name="Omfattning" type="xs:string"/>
          <xs:element minOccurs="0" name="SvenskKursbenamning" type="xs:string"/>
          <xs:element minOccurs="0" name="SvensktBetygsvarde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BevisbenamningEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="BevisbenamningUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Giltighetsperiod" type="base:Datumperiod"/>
          <xs:element minOccurs="0" name="Handelsetyp" type="xs:string"/>
          <xs:element minOccurs="0" name="Kod" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Markningsvarden" type="xs:int"/>
          <xs:element minOccurs="0" name="NationellBevistypUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Omfattning" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningssamarbeten">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Utbildningssamarbete"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Preciseringsinformation">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Precisering"/>
          <xs:element minOccurs="0" ref="ex:Preciseringsmojlighet"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtfardatBevisUtdata">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="BevisbenamningEngelskBenamning" type="xs:string"/>
          <xs:element minOccurs="0" name="BevisbenamningSvenskBenamning" type="xs:string"/>
          <xs:element name="BevisbenamningUID" type="xs:string"/>
          <xs:element name="Bevisbenamningskod" type="xs:string"/>
          <xs:element minOccurs="0" name="StudentEfternamn" type="xs:string"/>
          <xs:element minOccurs="0" name="StudentFornamn" type="xs:string"/>
          <xs:element minOccurs="0" name="StudentPersonnummer" type="xs:string"/>
          <xs:element minOccurs="0" name="PreciseringEngelskBenamning" type="xs:string"/>
          <xs:element minOccurs="0" name="PreciseringID" type="xs:int"/>
          <xs:element minOccurs="0" name="PreciseringSvenskBenamning" type="xs:string"/>
          <xs:element minOccurs="0" name="Preciseringskod" type="xs:string"/>
          <xs:element minOccurs="0" name="Preciseringstyp" type="xs:string"/>
          <xs:element name="StudentUID" type="xs:string"/>
          <xs:element name="Utfardandedatum" type="xs:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Dokumentmallar">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Dokumentmall"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Bevisunderlag">
    <xs:complexContent>
      <xs:extension base="ar:Underlag">
        <xs:sequence>
          <xs:element minOccurs="0" name="BevismetadataUID" type="xs:string"/>
          <xs:element minOccurs="0" name="DatumForAvslutadeStudier" type="xs:date"/>
          <xs:element minOccurs="0" name="HuvudsakligKurspaketeringsinstansUID" type="xs:string"/>
          <xs:element minOccurs="0" ref="ex:IngaendeResultat"/>
          <xs:element minOccurs="0" name="Omfattning" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResultatFotnoter" type="ex:ResultatFotnot"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="UnderliggandeKurspaketeringsinstansUID" type="xs:string"/>
          <xs:element minOccurs="0" name="UtfardatBevisUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IngaendeResultat">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Bevisrader" type="ex:Bevisrad"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Fotnoter" type="ex:ResultatFotnot"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="GiltigaMeriter" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ValdaResultatAvStudent" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MarkningstypLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Markningstyp" type="ex:Markningstyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PreciseringsinformationLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Preciseringsinformation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Kurslista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="AutomatiskaResultatFotnoter" type="ex:ResultatFotnot"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="GiltigaMeriterForStudent" type="ex:GiltigMeritForBevis"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="GiltigaMeriterPaUtbildningstyper" type="xs:string"/>
          <xs:element minOccurs="0" name="Studieordning" type="ex:StudieordningRepresentation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningsinstanser">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Utbildningsinstanser" type="ex:Utbildningsinstans"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BevisbenamningLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Bevisbenamning"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Bevisbenamning">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anteckning" type="xs:string"/>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Bevismallar" type="xs:int"/>
          <xs:element name="BevistypUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Giltighetsperiod" type="base:Datumperiod"/>
          <xs:element minOccurs="0" name="Kod" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Markningsvarden" type="xs:int"/>
          <xs:element minOccurs="0" name="Omfattning" type="xs:string"/>
          <xs:element minOccurs="0" name="OrganisationUID" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Preciseringsmojlighet"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudieordningListaRepresentation">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="StudieordningLista" type="ex:StudieordningRepresentation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtfardatBevisBorttagetEvent">
    <xs:complexContent>
      <xs:extension base="ex:UtfardatBevisEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BevisgrundtypLista">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Bevisgrundtyp" type="ex:BevisgrundtypRepresentation"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BeviskombinationSok">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" ref="base:Benamning"/>
          <xs:element minOccurs="0" name="BevisbenamningUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Historikpost">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element name="Bevisbenamning" type="xs:string"/>
          <xs:element minOccurs="0" name="Detaljer" type="xs:string"/>
          <xs:element name="Historiktyp" type="xs:string"/>
          <xs:element name="Handelse" type="xs:string"/>
          <xs:element name="Handelsetidpunkt" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="Omfattning" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Bevismetadata">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="BevisbenamningUID" type="xs:string"/>
          <xs:element minOccurs="0" name="BeviskombinationUID" type="xs:string"/>
          <xs:element name="ExterntBeslut" type="xs:boolean"/>
          <xs:element minOccurs="0" name="GemensamExamen" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Precisering"/>
          <xs:element minOccurs="0" ref="ex:Utbildningssamarbete"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="UtfardandeLarosaten" type="ex:InganendePart"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudentsUtfardadeBevisInformationskonverteringRepresentation">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="UtfardadeBevisLista">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="UtfardadeBevis" type="ex:UtfardatBevisInformationskonverteringRepresentation"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtfardatBevisInformationskonverteringRepresentation">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="AndraMeriter" type="xs:string"/>
          <xs:element minOccurs="0" name="AnteckningForBevis" type="xs:string"/>
          <xs:element minOccurs="0" name="Beslutsfattare" type="xs:string"/>
          <xs:element minOccurs="0" name="BevisbenamningUID" type="xs:string"/>
          <xs:element minOccurs="0" name="BevismetadataUID" type="xs:string"/>
          <xs:element minOccurs="0" name="DatumForAvslutadeStudier" type="xs:date"/>
          <xs:element minOccurs="0" name="GemensamExamen" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="GiltigaMeriterUIDs" type="xs:string"/>
          <xs:element minOccurs="0" name="HuvudsakligKurspaketeringsinstansUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Omfattning" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Preciseringar" type="ex:Precisering"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="UnderliggandeKurspaketeringsinstansUID" type="xs:string"/>
          <xs:element minOccurs="0" name="UtbildningssamarbeteID" type="xs:int"/>
          <xs:element minOccurs="0" name="UtfardandeLarosateID" type="xs:int"/>
          <xs:element minOccurs="0" name="Utfardandedatum" type="xs:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BeviskombinationLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Beviskombination"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Beviskombination">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="BevisbenamningUID" type="xs:string"/>
          <xs:element minOccurs="0" name="GemensamExamen" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Giltighetsperiod" type="base:Datumperiod"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="IngaendePart" type="ex:InganendePart"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Precisering"/>
          <xs:element minOccurs="0" name="TillgangligIStudentansokan" type="xs:boolean"/>
          <xs:element minOccurs="0" ref="ex:Utbildningssamarbete"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Markningsvarden">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Markningsvarde"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Markningsvarde">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element minOccurs="0" name="MarkningsnyckelID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Bevisansokan">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="BeviskombinationUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Fritext" type="xs:string"/>
          <xs:element minOccurs="0" name="HuvudsakligKurspaketeringsinstansUID" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Precisering" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Resultat" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BeviskombinationSokLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Beviskombination" type="ex:BeviskombinationSok"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningstyper">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Utbildningstyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationellBevistypLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Bevistyp" type="ex:NationellBevistyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MarkningEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Markningstyp" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VerifierbartStudieIntyg">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="skapadtidpunkt" type="xs:dateTime"/>
          <xs:element name="filkategori" type="ex:Filkategori"/>
          <xs:element minOccurs="0" name="kontrollkod" type="xs:string"/>
          <xs:element minOccurs="0" name="nyckel" type="xs:string"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="verifierbarttomdatum" type="xs:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SokresultatUtfardatBevisUtdata">
    <xs:complexContent>
      <xs:extension base="base:Sokresultat">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Resultat" type="ex:UtfardatBevisUtdata"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VerifierbaraIntygLista">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="VerifierbaraIntygLista" type="ex:VerifierbartStudieIntyg"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PreciseringEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Markningsvarden" type="xs:int"/>
          <xs:element minOccurs="0" name="PreciseringsgrupperingID" type="xs:int"/>
          <xs:element minOccurs="0" name="Preciseringstyp" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BevisinformationLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Bevisinformation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Bevisinformation">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" ref="ex:Bevisbenamning"/>
          <xs:element minOccurs="0" ref="ex:Beviskombination"/>
          <xs:element minOccurs="0" name="Bevistyp" type="ex:NationellBevistyp"/>
          <xs:element minOccurs="0" ref="ex:Enhet"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Preciseringsgruppering">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="Preciseringsgrupperingstyp" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Bevistext">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="DokumentmallID" type="xs:int"/>
          <xs:element minOccurs="0" name="Platshallare" type="xs:string"/>
          <xs:element minOccurs="0" name="Text" type="xs:string"/>
          <xs:element minOccurs="0" name="AgareUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Agartyp" type="ex:Bevistextagartyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PreciseringstypLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Preciseringstyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BevismetadataLista">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Bevismetadata"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Bevisrubrik">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="EngelskBenamning" type="xs:string"/>
          <xs:element minOccurs="0" name="SvenskBenamning" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtfardadKursbevisEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Handlaggare" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="KursversionerSomIngarIKursbeviset" type="xs:string"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Utfardandedatum" type="xs:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AndraMeriter">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:AnnanMerit"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtfardatBevisLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:UtfardatBevis"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ResultatIntygParametrar">
    <xs:sequence>
      <xs:element minOccurs="0" name="datumPeriod" type="base:Datumperiod"/>
      <xs:element minOccurs="0" name="fritext" type="xs:string"/>
      <xs:element minOccurs="0" name="sprakkod" type="xs:string"/>
      <xs:element name="visaBetygsfordelning" type="xs:boolean"/>
      <xs:element name="visaEndastAvklaradeKurser" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HistorikpostLista">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Historikposter">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Historikpost"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Markningsnycklar">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Markningsnyckel"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BeviskombinationForMassutfardande">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" ref="ex:Beviskombination"/>
          <xs:element minOccurs="0" name="UtbildningstypID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BevisunderlagLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Bevisunderlag"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PreciseringsgrupperingLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Preciseringsgruppering"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Bevisrubriker">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Bevisrubriker" type="ex:Bevisrubrik"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BeviskombinationForMassutfardandeLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:BeviskombinationForMassutfardande"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BevistextLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ex:Bevistext"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BeslutsinformationUtfardaBevis">
    <xs:sequence>
      <xs:element minOccurs="0" ref="at:Beslutsinformation"/>
      <xs:element minOccurs="0" name="DatumForAvslutadeStudier" type="xs:date"/>
      <xs:element minOccurs="0" name="Omfattning" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GiltigaMeriterForBevis">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="GiltigaMeriterForBevis" type="ex:GiltigMeritForBevis"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="Bevisradstyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PROJEKTTITEL"/>
      <xs:enumeration value="RUBRIK"/>
      <xs:enumeration value="RESULTAT"/>
      <xs:enumeration value="TILLGODORAKNANDE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BevisradValtInnehallTillgodoraknande">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GRUND"/>
      <xs:enumeration value="MAL"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BevisgrundtypRepresentation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="examensbevis"/>
      <xs:enumeration value="bevisovergenomfordutbildning"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Markningstyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="nivainomstudieordning"/>
      <xs:enumeration value="beviskategori"/>
      <xs:enumeration value="nationellexamensgrupp"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GiltigMeritForExamenTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ANNAN_MERIT"/>
      <xs:enumeration value="RESULTAT_PA_UTBILDNING"/>
      <xs:enumeration value="ANNAT_RESULTAT"/>
      <xs:enumeration value="TILLGODORAKNANDE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Preciseringsgrupperingstyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="huvudomradesgrupp"/>
      <xs:enumeration value="nationelltforskningsamne"/>
      <xs:enumeration value="nationelltundervisningsamne"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Filkategori">
    <xs:restriction base="xs:string">
      <xs:enumeration value="resultatintyg"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Bevistextagartyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NATIONELL_BEVISTYP"/>
      <xs:enumeration value="BEVISBENAMNING"/>
      <xs:enumeration value="BEVISUNDERLAG"/>
      <xs:enumeration value="BEVISKOMBINATION"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
