INT0008.Ladok3.Events/Src/Schemas/schemas.ladok.se.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://schemas.ladok.se" xmlns:dap="http://schemas.ladok.se/dap" elementFormDefault="qualified" targetNamespace="http://schemas.ladok.se" version="1.0">

  <xs:import namespace="http://schemas.ladok.se/dap" schemaLocation="schemas.ladok.se-dap.xsd"/>

  <xs:element name="AntagningsforfarandeElement" type="base:Antagningsforfarande"/>

  <xs:element name="Antagningsforfaranden" type="base:Antagningsforfaranden"/>

  <xs:element name="AntalHandelsefel" type="base:AntalHandelsefel"/>

  <xs:element name="AntalHandelsefelPerKategori" type="base:AntalHandelsefelPerKategori"/>

  <xs:element name="AnvandareElement" type="base:Anvandare"/>

  <xs:element name="AnvandareLista" type="base:AnvandareLista"/>

  <xs:element name="BaseKatalogEntitet" type="base:BaseKatalogEntitet"/>

  <xs:element name="BaseKatalogI18nEntitet" type="base:BaseKatalogI18nEntitet"/>

  <xs:element name="Benamning" type="base:Benamning"/>

  <xs:element name="BenamningarElement" type="base:Benamningar"/>

  <xs:element name="Datatyp" type="base:Datatyp"/>

  <xs:element name="DatumperiodElement" type="base:Datumperiod"/>

  <xs:element name="EnumDummy" type="base:EnumDummy"/>

  <xs:element name="EventStreamFilter" type="base:EventStreamFilter"/>

  <xs:element name="FelkategoriLista" type="base:FelkategoriLista"/>

  <xs:element name="Grunddatakategorilista" type="base:Grunddatakategorilista"/>

  <xs:element name="Grunddatatyp" type="base:Grunddatatyp"/>

  <xs:element name="HandelseOversikter" type="base:HandelseOversikter"/>

  <xs:element name="Handelsefel" type="base:Handelsefel"/>

  <xs:element name="HandelsefelLista" type="base:HandelsefelLista"/>

  <xs:element name="Handelsetyp" type="base:Handelsetyp"/>

  <xs:element name="Hinder" type="base:Hinder"/>

  <xs:element name="HinderlistaElement" type="base:Hinderlista"/>

  <xs:element name="IdentitetRepresentation" type="base:Identitet"/>

  <xs:element name="Identiteter" type="base:Identiteter"/>

  <xs:element name="Identitetsuppgifter" type="base:Identitetsuppgifter"/>

  <xs:element name="KatalogIdentiteter" type="base:KatalogIdentiteter"/>

  <xs:element name="LadokException" type="base:LadokException"/>

  <xs:element name="Links" type="base:Links"/>

  <xs:element name="ManagementResponse" type="base:ManagementResponse"/>

  <xs:element name="OmfattningElement" type="base:Omfattning"/>

  <xs:element name="Organisation" type="base:Organisation"/>

  <xs:element name="Organisationslista" type="base:Organisationslista"/>

  <xs:element name="PermissionToData" type="base:PermissionToData"/>

  <xs:element name="ProcessStatusElement" type="base:ProcessStatus"/>

  <xs:element name="ProcessStatusListaElement" type="base:ProcessStatusLista"/>

  <xs:element name="RESTRefElement" type="base:RESTRef"/>

  <xs:element name="SCBRapporttyp" type="base:SCBRapporttyp"/>

  <xs:element name="SokresultatHandelsefelResultat" type="base:SokresultatHandelsefelResultat"/>

  <xs:element name="Statuspost" type="base:Statuspost"/>

  <xs:element name="StudentElement" type="base:Student"/>

  <xs:element name="TillstandForKonsumeradeHandelser" type="base:TillstandForKonsumeradeHandelser"/>

  <xs:element name="TillstandForPubliceradeHandelser" type="base:TillstandForPubliceradeHandelser"/>

  <xs:element name="Typ" type="base:Typ"/>

  <xs:element name="UserPermission" type="base:UserPermission"/>

  <xs:element name="UserPermissionsElement" type="base:UserPermissions"/>

  <xs:element name="Utbildningsgrundtyp" type="base:Utbildningsgrundtyp"/>

  <xs:element name="Valregler" type="base:Valregler"/>

  <xs:complexType name="Identitet">
    <xs:sequence>
      <xs:element name="Uid" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Antagningsforfaranden">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Antagningsforfarande" type="base:Antagningsforfarande"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="BaseEntitet">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="SenastSparad" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="SenastAndradAv" type="xs:string"/>
          <xs:element minOccurs="0" name="Uid" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Antagningsforfarande">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="AcceptansKravs" type="xs:boolean"/>
          <xs:element minOccurs="0" name="I18n" type="xs:string"/>
          <xs:element minOccurs="0" name="Nyckel" type="base:AntagningsforfarandeNyckel"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AntalHandelsefelPerKategori">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Antal" type="xs:int"/>
          <xs:element minOccurs="0" name="Felkategori" type="base:Felkategori"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Datumperiod">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Startdatum" type="xs:date"/>
          <xs:element minOccurs="0" name="Slutdatum" type="xs:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="Grunddatavarde">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="BaseKatalogEntitet">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int"/>
          <xs:element minOccurs="0" name="Kod" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FelkategoriLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Felkategori" type="base:Felkategori"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Valregler">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Regler" type="base:Valregel"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SokresultatHandelsefelResultat">
    <xs:complexContent>
      <xs:extension base="base:Sokresultat">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Resultat" type="base:Handelsefel"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="Sokresultat">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element name="TotaltAntalPoster" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Handelsefel">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ankomsttidpunkt" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="EventID" type="xs:string"/>
          <xs:element minOccurs="0" name="Felkategori" type="base:Felkategori"/>
          <xs:element minOccurs="0" name="Handelsetyp" type="xs:string"/>
          <xs:element minOccurs="0" name="Message" type="xs:string"/>
          <xs:element minOccurs="0" name="Publiceringstidpunkt" type="xs:dateTime"/>
          <xs:element name="PublisherID" type="xs:int"/>
          <xs:element name="Retrying" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Student">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Personnummer" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PermissionToData">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="DataIdentiteter" type="xs:string"/>
      <xs:element minOccurs="0" name="LarosateID" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Benamningar">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="base:Benamning"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Benamning">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Sprakkod" type="xs:string"/>
          <xs:element minOccurs="0" name="Text" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Links">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Anvandare">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anvandarnamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Hinder">
    <xs:sequence>
      <xs:element minOccurs="0" name="I18nNyckel" type="xs:string"/>
      <xs:element minOccurs="0" name="Stoppande" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Text" type="base:Benamningar"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Identitetsuppgifter">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anteckning" type="xs:string"/>
          <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Fodelsedata" type="xs:string"/>
          <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
          <xs:element minOccurs="0" name="KonID" type="xs:int"/>
          <xs:element minOccurs="0" name="Personnummer" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TillstandForKonsumeradeHandelser">
    <xs:sequence>
      <xs:element minOccurs="0" name="FeedConsumerStatus" type="xs:string"/>
      <xs:element minOccurs="0" name="FeedUrl" type="xs:string"/>
      <xs:element minOccurs="0" name="RecentFeedId" type="xs:string"/>
      <xs:element minOccurs="0" name="RecentFeedLastEventPublishedAt" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="RecentFeedLastEventUID" type="xs:string"/>
      <xs:element minOccurs="0" name="RecentFeedLastSekvensID" type="xs:string"/>
      <xs:element minOccurs="0" name="SenastKonsumeradeHandelseUID" type="xs:string"/>
      <xs:element minOccurs="0" name="SenastKonsumeradeSekvensId" type="xs:long"/>
      <xs:element minOccurs="0" name="TidpunktForSenasteLasning" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EventStreamFilter">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="ForstaSekvensId" type="xs:long"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Larosaten" type="xs:int"/>
          <xs:element minOccurs="0" name="RequestedEventTypes">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="RequestedEventType" type="xs:string"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="SistaSekvensId" type="xs:long"/>
          <xs:element minOccurs="0" name="Villkor" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="EnumDummy">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatatypElement" type="base:Datatyp"/>
      <xs:element minOccurs="0" name="GrundtypElement" type="base:Utbildningsgrundtyp"/>
      <xs:element minOccurs="0" name="HandelsetypElement" type="base:Handelsetyp"/>
      <xs:element minOccurs="0" name="SCBRapporttypElement" type="base:SCBRapporttyp"/>
      <xs:element minOccurs="0" name="StudentOrderByEnum" type="base:StudentOrderByEnum"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LadokException">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Detaljkod" type="xs:string"/>
          <xs:element minOccurs="0" name="DetaljkodText" type="xs:string"/>
          <xs:element minOccurs="0" name="FelUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Felgrupp" type="xs:string"/>
          <xs:element minOccurs="0" name="FelgruppText" type="xs:string"/>
          <xs:element minOccurs="0" name="Felkategori" type="xs:string"/>
          <xs:element minOccurs="0" name="FelkategoriText" type="xs:string"/>
          <xs:element minOccurs="0" name="FelkallaAttributID" type="xs:string"/>
          <xs:element minOccurs="0" name="FelkallaObjektID" type="xs:string"/>
          <xs:element minOccurs="0" name="Meddelande" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AntalHandelsefel">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="base:AntalHandelsefelPerKategori"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Omfattning">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Omfattningsenhet" type="xs:string"/>
          <xs:element minOccurs="0" name="Omfattningsvarde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="KatalogID">
    <xs:restriction base="xs:int"/>
  </xs:simpleType>

  <xs:complexType name="ProcessStatus">
    <xs:complexContent>
      <xs:extension base="base:BaseKatalogI18nEntitet">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="BaseKatalogI18nEntitet">
    <xs:complexContent>
      <xs:extension base="base:BaseKatalogEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="I18nNyckel" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Grunddatakategorilista">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Grunddatakategorier" type="base:Grunddatatyp"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Grunddatatyp">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hemdoman" type="xs:string"/>
          <xs:element minOccurs="0" name="I18nNyckel" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HandelseOversikter">
    <xs:sequence>
      <xs:element minOccurs="0" name="OversiktKonsumeradeHandelser">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="KonsumeradeHandelser" type="base:TillstandForKonsumeradeHandelser"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="OversiktPubliceradeHandelser">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PubliceradeHandelser" type="base:TillstandForPubliceradeHandelser"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TillstandForPubliceradeHandelser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Producent" type="xs:string"/>
      <xs:element minOccurs="0" name="SenastPubliceradeHandelseUID" type="xs:string"/>
      <xs:element minOccurs="0" name="SenastPubliceradeSekvensId" type="xs:long"/>
      <xs:element minOccurs="0" name="TidpunktForSenastePublicering" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AnvandareLista">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Anvandare" type="base:Anvandare"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Typ">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RESTRef">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="base:Benamning"/>
      <xs:element minOccurs="0" name="link" type="dap:RelationLink"/>
      <xs:element minOccurs="0" name="Uid" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Identiteter">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Identitet" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="Grunddatavardelista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPermissions">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anvandarnamn" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="UserPermissionsList" type="base:UserPermission"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPermission">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PermissionsToData" type="base:PermissionToData"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Systemaktiviteter" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Organisationslista">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="base:Organisation"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Organisation">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Kod" type="xs:string"/>
          <xs:element minOccurs="0" name="Organisationsenhetstyp" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ManagementResponse">
    <xs:sequence>
      <xs:element name="failed" type="xs:boolean"/>
      <xs:element minOccurs="0" name="msg" type="xs:string"/>
      <xs:element name="rc" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="statusposter" type="base:Statuspost"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Statuspost">
    <xs:sequence>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="text" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProcessStatusLista">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProcessStatus" type="base:ProcessStatus"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Hinderlista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="base:Hinder"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HandelsefelLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="base:Handelsefel"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="EnkeltGrunddatavarde">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavarde">
        <xs:sequence>
          <xs:element name="Benamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Beskrivningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Giltighetsperiod" type="base:Datumperiod"/>
          <xs:element minOccurs="0" name="ID" type="xs:string"/>
          <xs:element name="Kod" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KatalogIdentiteter">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Identitet" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="AntagningsforfarandeNyckel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ANMALAN"/>
      <xs:enumeration value="EXTERNANSOKAN"/>
      <xs:enumeration value="UTANANMALAN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Felkategori">
    <xs:restriction base="xs:string">
      <xs:enumeration value="commons.domain.eventhandling.category.none"/>
      <xs:enumeration value="commons.domain.eventhandling.category.business_rule"/>
      <xs:enumeration value="commons.domain.eventhandling.category.sw_error"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Valregel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VALJ_X"/>
      <xs:enumeration value="VALJ_OMFATTNING"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Datatyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="datumperiod"/>
      <xs:enumeration value="kurstillfallen"/>
      <xs:enumeration value="integer"/>
      <xs:enumeration value="katalogdata"/>
      <xs:enumeration value="period_i_ordning"/>
      <xs:enumeration value="string"/>
      <xs:enumeration value="date"/>
      <xs:enumeration value="personnummer"/>
      <xs:enumeration value="boolean"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Utbildningsgrundtyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KURS"/>
      <xs:enumeration value="KURSPAKETERING"/>
      <xs:enumeration value="MODUL"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Handelsetyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BORTTAGEN"/>
      <xs:enumeration value="SKAPAD"/>
      <xs:enumeration value="UPPDATERAD"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SCBRapporttyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RESULTAT_GRUND_OCH_AVANCERAD_NIVA"/>
      <xs:enumeration value="AKTIVITET_FORSKARNIVA"/>
      <xs:enumeration value="EXAMEN_GRUND_OCH_AVANCERAD_NIVA"/>
      <xs:enumeration value="REGISTRERING_GRUND_OCH_AVANCERAD_NIVA"/>
      <xs:enumeration value="EXAMEN_FORSKARNIVA"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="StudentOrderByEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PERSONNUMMER_DESC"/>
      <xs:enumeration value="FORNAMN_DESC"/>
      <xs:enumeration value="EFTERNAMN_ASC"/>
      <xs:enumeration value="FORNAMN_ASC"/>
      <xs:enumeration value="PERSONNUMMER_ASC"/>
      <xs:enumeration value="EFTERNAMN_DESC"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
