INT0017.Usmr.Events/Src/Schemas/INT0017.UsmrRecord.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="_x0022_UUSKLIST_x0022_">
    <xs:complexType>
      <xs:attribute name="PNR" type="xs:string" use="required" />
      <xs:attribute name="GPNR" type="xs:string" use="required" />
      <xs:attribute name="EFTERNAMN" type="xs:string" use="required" />
      <xs:attribute name="FORNAMN" type="xs:string" use="required" />
      <xs:attribute name="INLDATUM_PERS" type="xs:date" use="required" />
      <xs:attribute name="COADRESS" type="xs:string" use="required" />
      <xs:attribute name="GATUADRESS" type="xs:string" use="required" />
      <xs:attribute name="POSTNR" type="xs:string" use="required" />
      <xs:attribute name="ORT" type="xs:string" use="required" />
      <xs:attribute name="LAND" type="xs:string" use="required" />
      <xs:attribute name="INLDATUM_ADRESS" type="xs:string" use="required" />
      <xs:attribute name="TELNR" type="xs:string" use="required" />
      <xs:attribute name="INLDATUM_TELNR" type="xs:date" use="required" />
      <xs:attribute name="EPOSTADRESS" type="xs:string" use="required" />
      <xs:attribute name="UPPEH" type="xs:string" use="required" />
      <xs:attribute name="KURS" type="xs:string" use="required" />
      <xs:attribute name="INST" type="xs:string" use="required" />
      <xs:attribute name="POANG" type="xs:string" use="required" />
      <xs:attribute name="KT" type="xs:string" use="required" />
      <xs:attribute name="UF" type="xs:string" use="required" />
      <xs:attribute name="KORT" type="xs:string" use="required" />
      <xs:attribute name="FIN" type="xs:string" use="required" />
      <xs:attribute name="PROGR" type="xs:string" use="required" />
      <xs:attribute name="AKT" type="xs:string" use="required" />
      <xs:attribute name="TERMIN" type="xs:string" use="required" />
      <xs:attribute name="PTAKT" type="xs:string" use="required" />
      <xs:attribute name="KAR" type="xs:string" use="required" />
      <xs:attribute name="TYP" type="xs:string" use="required" />
      <xs:attribute name="PLG" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>