INT0001.Ladok2.Events/Tests/INT0001.Ladok.Tests/Schemas/TableOperation.dbo.MEMBERSHIP_EVENTS_RECEIVED.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:array="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/Types/Tables/dbo" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/TableOp/dbo/MEMBERSHIP_EVENTS_RECEIVED" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\Table.dbo.xsd" namespace="http://schemas.microsoft.com/Sql/2008/05/Types/Tables/dbo" />
  <xs:import schemaLocation=".\SimpleTypeArray.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">TableOperation.dbo.MEMBERSHIP_EVENTS_RECEIVED</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="Delete">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">TableOp/Delete/dbo/MEMBERSHIP_EVENTS_RECEIVED</doc:action>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Rows" nillable="true" type="ns3:ArrayOfMEMBERSHIP_EVENTS_RECEIVED" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">TableOp/Delete/dbo/MEMBERSHIP_EVENTS_RECEIVED/response</doc:action>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">TableOp/Insert/dbo/MEMBERSHIP_EVENTS_RECEIVED</doc:action>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Rows" nillable="true" type="ns3:ArrayOfMEMBERSHIP_EVENTS_RECEIVED" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">TableOp/Insert/dbo/MEMBERSHIP_EVENTS_RECEIVED/response</doc:action>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertResult" nillable="true" type="array:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">TableOp/Select/dbo/MEMBERSHIP_EVENTS_RECEIVED</doc:action>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Columns" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectResponse">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">TableOp/Select/dbo/MEMBERSHIP_EVENTS_RECEIVED/response</doc:action>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SelectResult" nillable="true" type="ns3:ArrayOfMEMBERSHIP_EVENTS_RECEIVED" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RowPair">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="After" nillable="true" type="ns3:MEMBERSHIP_EVENTS_RECEIVED" />
      <xs:element minOccurs="1" maxOccurs="1" name="Before" nillable="true" type="ns3:MEMBERSHIP_EVENTS_RECEIVED" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RowPair" nillable="true" xmlns:q1="http://schemas.microsoft.com/Sql/2008/05/TableOp/dbo/MEMBERSHIP_EVENTS_RECEIVED" type="q1:RowPair" />
  <xs:complexType name="ArrayOfRowPair">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RowPair" xmlns:q2="http://schemas.microsoft.com/Sql/2008/05/TableOp/dbo/MEMBERSHIP_EVENTS_RECEIVED" type="q2:RowPair" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRowPair" nillable="true" xmlns:q3="http://schemas.microsoft.com/Sql/2008/05/TableOp/dbo/MEMBERSHIP_EVENTS_RECEIVED" type="q3:ArrayOfRowPair" />
  <xs:element name="Update">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">TableOp/Update/dbo/MEMBERSHIP_EVENTS_RECEIVED</doc:action>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Rows" nillable="true" xmlns:q4="http://schemas.microsoft.com/Sql/2008/05/TableOp/dbo/MEMBERSHIP_EVENTS_RECEIVED" type="q4:ArrayOfRowPair" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">TableOp/Update/dbo/MEMBERSHIP_EVENTS_RECEIVED/response</doc:action>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>