UUIntegrations/Common/Schemas/AkkaAdapter/AkkaCallService_cxf_akkaappl_akka_its_uu_se.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://cxf.akkaappl.akka.its.uu.se/" xmlns:ns1="http://call.authsrv.its.uu.se/" elementFormDefault="unqualified" targetNamespace="http://cxf.akkaappl.akka.its.uu.se/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\AkkaCallService_call_authsrv_its_uu_se.xsd" namespace="http://call.authsrv.its.uu.se/" />
  <xs:element name="aktiveraKonto" type="tns:aktiveraKonto" />
  <xs:element name="aktiveraKontoResponse" type="tns:aktiveraKontoResponse" />
  <xs:element name="aterstallLosen" type="tns:aterstallLosen" />
  <xs:element name="aterstallLosenResponse" type="tns:aterstallLosenResponse" />
  <xs:element name="aterstallLosenord" type="tns:aterstallLosenord" />
  <xs:element name="aterstallLosenordAvTypenB" type="tns:aterstallLosenordAvTypenB" />
  <xs:element name="aterstallLosenordAvTypenBResponse" type="tns:aterstallLosenordAvTypenBResponse" />
  <xs:element name="aterstallLosenordResponse" type="tns:aterstallLosenordResponse" />
  <xs:element name="delEftersand" type="tns:delEftersand" />
  <xs:element name="delEftersandResponse" type="tns:delEftersandResponse" />
  <xs:element name="delIMkomm" type="tns:delIMkomm" />
  <xs:element name="delIMkommResponse" type="tns:delIMkommResponse" />
  <xs:element name="deleteFranvaro" type="tns:deleteFranvaro" />
  <xs:element name="deleteFranvaroResponse" type="tns:deleteFranvaroResponse" />
  <xs:element name="etableraAktiveraStudentkonto" type="tns:etableraAktiveraStudentkonto" />
  <xs:element name="etableraAktiveraStudentkontoResponse" type="tns:etableraAktiveraStudentkontoResponse" />
  <xs:element name="etableraEjAktiveratStudentkonto" type="tns:etableraEjAktiveratStudentkonto" />
  <xs:element name="etableraEjAktiveratStudentkontoResponse" type="tns:etableraEjAktiveratStudentkontoResponse" />
  <xs:element name="forlangGastkonto" type="tns:forlangGastkonto" />
  <xs:element name="forlangGastkontoResponse" type="tns:forlangGastkontoResponse" />
  <xs:element name="getAnvidList" type="tns:getAnvidList" />
  <xs:element name="getAnvidListResponse" type="tns:getAnvidListResponse" />
  <xs:element name="getAup" type="tns:getAup" />
  <xs:element name="getAupResponse" type="tns:getAupResponse" />
  <xs:element name="getConfig" type="tns:getConfig" />
  <xs:element name="getConfigResponse" type="tns:getConfigResponse" />
  <xs:element name="getEftersandList" type="tns:getEftersandList" />
  <xs:element name="getEftersandListResponse" type="tns:getEftersandListResponse" />
  <xs:element name="getEpostadr" type="tns:getEpostadr" />
  <xs:element name="getEpostadrList" type="tns:getEpostadrList" />
  <xs:element name="getEpostadrListResponse" type="tns:getEpostadrListResponse" />
  <xs:element name="getEpostadrResponse" type="tns:getEpostadrResponse" />
  <xs:element name="getFranvaro" type="tns:getFranvaro" />
  <xs:element name="getFranvaroResponse" type="tns:getFranvaroResponse" />
  <xs:element name="getGastkonto" type="tns:getGastkonto" />
  <xs:element name="getGastkontoInklusiveLosenord" type="tns:getGastkontoInklusiveLosenord" />
  <xs:element name="getGastkontoInklusiveLosenordResponse" type="tns:getGastkontoInklusiveLosenordResponse" />
  <xs:element name="getGastkontoList" type="tns:getGastkontoList" />
  <xs:element name="getGastkontoListResponse" type="tns:getGastkontoListResponse" />
  <xs:element name="getGastkontoResponse" type="tns:getGastkontoResponse" />
  <xs:element name="getIMkommList" type="tns:getIMkommList" />
  <xs:element name="getIMkommListResponse" type="tns:getIMkommListResponse" />
  <xs:element name="getIMtjanster" type="tns:getIMtjanster" />
  <xs:element name="getIMtjansterResponse" type="tns:getIMtjansterResponse" />
  <xs:element name="getKontoAupResultset" type="tns:getKontoAupResultset" />
  <xs:element name="getKontoAupResultsetResponse" type="tns:getKontoAupResultsetResponse" />
  <xs:element name="getKontoByPnr" type="tns:getKontoByPnr" />
  <xs:element name="getKontoByPnrResponse" type="tns:getKontoByPnrResponse" />
  <xs:element name="getKontokat" type="tns:getKontokat" />
  <xs:element name="getKontokatResponse" type="tns:getKontokatResponse" />
  <xs:element name="getLosenSenastAndrad" type="tns:getLosenSenastAndrad" />
  <xs:element name="getLosenSenastAndradResponse" type="tns:getLosenSenastAndradResponse" />
  <xs:element name="getOrcid" type="tns:getOrcid" />
  <xs:element name="getOrcidResponse" type="tns:getOrcidResponse" />
  <xs:element name="getSenastEtableradeAnvid" type="tns:getSenastEtableradeAnvid" />
  <xs:element name="getSenastEtableradeAnvidResponse" type="tns:getSenastEtableradeAnvidResponse" />
  <xs:element name="getSenastEtableradeKontokatalog" type="tns:getSenastEtableradeKontokatalog" />
  <xs:element name="getSenastEtableradeKontokatalogResponse" type="tns:getSenastEtableradeKontokatalogResponse" />
  <xs:element name="getSokAnvandareKategori" type="tns:getSokAnvandareKategori" />
  <xs:element name="getSokAnvandareKategoriResponse" type="tns:getSokAnvandareKategoriResponse" />
  <xs:element name="getSpamlevelList" type="tns:getSpamlevelList" />
  <xs:element name="getSpamlevelListResponse" type="tns:getSpamlevelListResponse" />
  <xs:element name="insEftersand" type="tns:insEftersand" />
  <xs:element name="insEftersandResponse" type="tns:insEftersandResponse" />
  <xs:element name="insFranvaro" type="tns:insFranvaro" />
  <xs:element name="insFranvaroResponse" type="tns:insFranvaroResponse" />
  <xs:element name="insKontoAup" type="tns:insKontoAup" />
  <xs:element name="insKontoAupResponse" type="tns:insKontoAupResponse" />
  <xs:element name="newLosenordGastkonto" type="tns:newLosenordGastkonto" />
  <xs:element name="newLosenordGastkontoResponse" type="tns:newLosenordGastkontoResponse" />
  <xs:element name="skapaGastkonto" type="tns:skapaGastkonto" />
  <xs:element name="skapaGastkontoResponse" type="tns:skapaGastkontoResponse" />
  <xs:element name="skapaGastkontoVerksam" type="tns:skapaGastkontoVerksam" />
  <xs:element name="skapaGastkontoVerksamResponse" type="tns:skapaGastkontoVerksamResponse" />
  <xs:element name="sokAnvandare" type="tns:sokAnvandare" />
  <xs:element name="sokAnvandarePersonnummer" type="tns:sokAnvandarePersonnummer" />
  <xs:element name="sokAnvandarePersonnummerResponse" type="tns:sokAnvandarePersonnummerResponse" />
  <xs:element name="sokAnvandareResponse" type="tns:sokAnvandareResponse" />
  <xs:element name="sparraGastkonto" type="tns:sparraGastkonto" />
  <xs:element name="sparraGastkontoResponse" type="tns:sparraGastkontoResponse" />
  <xs:element name="updEftersand" type="tns:updEftersand" />
  <xs:element name="updEftersandResponse" type="tns:updEftersandResponse" />
  <xs:element name="updEpostadr" type="tns:updEpostadr" />
  <xs:element name="updEpostadrResponse" type="tns:updEpostadrResponse" />
  <xs:element name="updFranvaro" type="tns:updFranvaro" />
  <xs:element name="updFranvaroResponse" type="tns:updFranvaroResponse" />
  <xs:element name="updKontokatPkt" type="tns:updKontokatPkt" />
  <xs:element name="updKontokatPktResponse" type="tns:updKontokatPktResponse" />
  <xs:element name="updLosen" type="tns:updLosen" />
  <xs:element name="updLosenResponse" type="tns:updLosenResponse" />
  <xs:element name="updOrcid" type="tns:updOrcid" />
  <xs:element name="updOrcidResponse" type="tns:updOrcidResponse" />
  <xs:complexType name="etableraEjAktiveratStudentkonto">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="pnr" type="xs:string" />
      <xs:element minOccurs="0" name="metadata" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="etableraEjAktiveratStudentkontoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:kontokat" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insFranvaro">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="franvaro" type="ns1:franvaro" />
      <xs:element minOccurs="0" name="anvid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insFranvaroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updEpostadr">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="epostadr" type="ns1:epostadr" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updEpostadrResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEpostadr">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="epostadr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEpostadrResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:epostadr" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sokAnvandare">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="pnr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sokAnvandareResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:sokAnvandare" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSpamlevelList">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSpamlevelListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:spamlevel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="delIMkomm">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="pnr" type="xs:string" />
      <xs:element name="imkod" type="xs:int" />
      <xs:element name="sort" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="delIMkommResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:iMkomm" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteFranvaro">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="epostadr" type="xs:string" />
      <xs:element minOccurs="0" name="anvid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteFranvaroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:franvaro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEftersandList">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="epostadr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEftersandListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:eftersand" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updOrcid">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="tns:orcid" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orcid">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:commonModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="orcid" type="xs:string" />
          <xs:element minOccurs="0" name="pnr" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="commonModel" abstract="true">
    <xs:sequence>
      <xs:element name="countrows" type="xs:int" />
      <xs:element minOccurs="0" name="returncode" type="xs:string" />
      <xs:element minOccurs="0" name="returntext" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updOrcidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:orcid" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAnvidList">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="pnr" type="xs:string" />
      <xs:element minOccurs="0" name="kategori" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAnvidListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="forlangGastkonto">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="anvid" type="xs:string" />
      <xs:element minOccurs="0" name="tomdat" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="forlangGastkontoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:gastkonto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAup">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAupResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:aup2" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aup2">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:commonModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="benamning" type="xs:string" />
          <xs:element minOccurs="0" name="fromdat" type="xs:string" />
          <xs:element name="id" type="xs:int" />
          <xs:element minOccurs="0" name="tomdat" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getGastkonto">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="anvid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGastkontoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:gastkonto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="skapaGastkonto">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="gastkonto" type="ns1:gastkonto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="skapaGastkontoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:gastkonto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aterstallLosenordAvTypenB">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="anvid" type="xs:string" />
      <xs:element minOccurs="0" name="losen" type="xs:string" />
      <xs:element minOccurs="0" name="anvidEngangskod" type="xs:string" />
      <xs:element minOccurs="0" name="SAML2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aterstallLosenordAvTypenBResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:resultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getIMkommList">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="pnr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getIMkommListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:iMkomm" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getIMtjanster">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getIMtjansterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:iMtjanst" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="delEftersand">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="epostadr" type="xs:string" />
      <xs:element minOccurs="0" name="startdat" type="xs:string" />
      <xs:element minOccurs="0" name="stopdat" type="xs:string" />
      <xs:element minOccurs="0" name="adress" type="xs:string" />
      <xs:element minOccurs="0" name="anvid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="delEftersandResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFranvaro">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="epostadr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFranvaroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:franvaro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSokAnvandareKategori">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="anvid" type="xs:string" />
      <xs:element minOccurs="0" name="kategori" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSokAnvandareKategoriResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:sokAnvandare" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGastkontoList">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="inGastkonto" type="ns1:gastkonto" />
      <xs:element minOccurs="0" name="framtida" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGastkontoListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:gastkonto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSenastEtableradeAnvid">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="pnr" type="xs:string" />
      <xs:element minOccurs="0" name="kategori" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSenastEtableradeAnvidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insKontoAup">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="kontoAup" type="ns1:kontoAup" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insKontoAupResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:kontoAup" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getKontoAupResultset">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="anvid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getKontoAupResultsetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:kontoAup" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sokAnvandarePersonnummer">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="pnr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sokAnvandarePersonnummerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:sokAnvandare" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEpostadrList">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="anvkod" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEpostadrListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:epostadr" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="skapaGastkontoVerksam">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="konto" type="ns1:gastkonto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="skapaGastkontoVerksamResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:gastkonto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGastkontoInklusiveLosenord">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="anvid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGastkontoInklusiveLosenordResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:gastkonto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aterstallLosenord">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="anvid" type="xs:string" />
      <xs:element minOccurs="0" name="losen" type="xs:string" />
      <xs:element minOccurs="0" name="anvidEngangskod" type="xs:string" />
      <xs:element minOccurs="0" name="SAML2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aterstallLosenordResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:resultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updEftersand">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="eftersand" type="ns1:eftersand" />
      <xs:element minOccurs="0" name="startdat" type="xs:string" />
      <xs:element minOccurs="0" name="stopdat" type="xs:string" />
      <xs:element minOccurs="0" name="adress" type="xs:string" />
      <xs:element minOccurs="0" name="anvid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updEftersandResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="etableraAktiveraStudentkonto">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="pnr" type="xs:string" />
      <xs:element minOccurs="0" name="kategori" type="xs:string" />
      <xs:element minOccurs="0" name="losen" type="xs:string" />
      <xs:element minOccurs="0" name="visaniva" type="xs:string" />
      <xs:element name="marknad" type="xs:boolean" />
      <xs:element minOccurs="0" name="epostadrEftersand" type="xs:string" />
      <xs:element name="eftersand" type="xs:boolean" />
      <xs:element name="forsakran" type="xs:boolean" />
      <xs:element minOccurs="0" name="anvidEngangskod" type="xs:string" />
      <xs:element minOccurs="0" name="SAML2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="etableraAktiveraStudentkontoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:konto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updLosen">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="anvandare" type="xs:string" />
      <xs:element minOccurs="0" name="typ" type="xs:string" />
      <xs:element minOccurs="0" name="losenord" type="xs:string" />
      <xs:element minOccurs="0" name="nyttLosenord" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updLosenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:losen" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getKontokat">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="anvid" type="xs:string" />
      <xs:element minOccurs="0" name="kategori" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getKontokatResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:kontokat" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getKontoByPnr">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="pnr" type="xs:string" />
      <xs:element minOccurs="0" name="kategori" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getKontoByPnrResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:konto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insEftersand">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="eftersand" type="ns1:eftersand" />
      <xs:element minOccurs="0" name="anvid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insEftersandResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sparraGastkonto">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="anvid" type="xs:string" />
      <xs:element minOccurs="0" name="sparrkom" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sparraGastkontoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:gastkonto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSenastEtableradeKontokatalog">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="pnr" type="xs:string" />
      <xs:element minOccurs="0" name="kategori" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSenastEtableradeKontokatalogResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:kontokat" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updKontokatPkt">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="kontokat" type="ns1:kontokat" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updKontokatPktResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:resultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aktiveraKonto">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="anvid" type="xs:string" />
      <xs:element minOccurs="0" name="kategori" type="xs:string" />
      <xs:element minOccurs="0" name="losen" type="xs:string" />
      <xs:element minOccurs="0" name="visaniva" type="xs:string" />
      <xs:element name="marknad" type="xs:boolean" />
      <xs:element minOccurs="0" name="epostadrEftersand" type="xs:string" />
      <xs:element name="eftersand" type="xs:boolean" />
      <xs:element name="forsakran" type="xs:boolean" />
      <xs:element minOccurs="0" name="anvidEngangskod" type="xs:string" />
      <xs:element minOccurs="0" name="SAML2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aktiveraKontoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:konto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aterstallLosen">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="anvid" type="xs:string" />
      <xs:element minOccurs="0" name="kategori" type="xs:string" />
      <xs:element minOccurs="0" name="losen" type="xs:string" />
      <xs:element minOccurs="0" name="anvidEngangskod" type="xs:string" />
      <xs:element minOccurs="0" name="SAML2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aterstallLosenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:resultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="varde" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getConfigResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:config" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updFranvaro">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="franvaro" type="ns1:franvaro" />
      <xs:element minOccurs="0" name="anvid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updFranvaroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="newLosenordGastkonto">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="anvid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="newLosenordGastkontoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:gastkonto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLosenSenastAndrad">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="anvid" type="xs:string" />
      <xs:element minOccurs="0" name="losenTyp" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLosenSenastAndradResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:resultat" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOrcid">
    <xs:sequence>
      <xs:element minOccurs="0" name="applikation" type="xs:string" />
      <xs:element minOccurs="0" name="pnr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOrcidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:orcid" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>