INT0011.VFU.Events/Src/Schemas/Promoted/Dap.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://schemas.ladok.se/dap" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.ladok.se/dap" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="link">
    <xs:complexType>
      <xs:attribute name="mediaType" type="xs:string" use="required" />
      <xs:attribute name="method" type="xs:string" use="required" />
      <xs:attribute name="uri" type="xs:string" use="required" />
      <xs:attribute name="rel" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="LarosateID" type="xs:unsignedByte" />
</xs:schema>