INT0011.VFU.Events/Src/Schemas/Promoted/Events.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://schemas.ladok.se/events" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.ladok.se/events" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EventContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Anvandarnamn" type="xs:string" />
        <xs:element name="LarosateID" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandelseUID" type="xs:string" />
</xs:schema>