INT0011.VFU.Events/Src/Schemas/Promoted/Studentinformation.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://schemas.ladok.se/studentinformation" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.ladok.se/studentinformation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="dap.xsd" namespace="http://schemas.ladok.se/dap" />
  <xs:import schemaLocation="ladok.xsd" namespace="http://schemas.ladok.se" />
  <xs:element name="Student">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" xmlns:q1="http://schemas.ladok.se/dap" ref="q1:link" />
        <xs:element xmlns:q2="http://schemas.ladok.se/dap" ref="q2:LarosateID" />
        <xs:element xmlns:q3="http://schemas.ladok.se" ref="q3:SenastSparad" />
        <xs:element xmlns:q4="http://schemas.ladok.se" ref="q4:SenastAndradAv" />
        <xs:element xmlns:q5="http://schemas.ladok.se" ref="q5:Uid" />
        <xs:element name="Avliden" type="xs:boolean" />
        <xs:element name="Efternamn" type="xs:string" />
        <xs:element name="ExterntUID" type="xs:string" />
        <xs:element name="FelVidEtableringExternt" type="xs:boolean" />
        <xs:element name="Fodelsedata" type="xs:string" />
        <xs:element name="Fornamn" type="xs:string" />
        <xs:element name="KonID" type="xs:unsignedByte" />
        <xs:element name="Personnummer" type="xs:string" />
        <xs:element name="Skyddsstatus" type="xs:string" />
        <xs:element name="UnikaIdentifierare">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" xmlns:q6="http://schemas.ladok.se/dap" ref="q6:link" />
              <xs:element xmlns:q7="http://schemas.ladok.se/dap" ref="q7:LarosateID" />
              <xs:element maxOccurs="unbounded" name="UnikIdentifierare">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" xmlns:q8="http://schemas.ladok.se/dap" ref="q8:link" />
                    <xs:element xmlns:q9="http://schemas.ladok.se/dap" ref="q9:LarosateID" />
                    <xs:element xmlns:q10="http://schemas.ladok.se" ref="q10:SenastSparad" />
                    <xs:element xmlns:q11="http://schemas.ladok.se" ref="q11:SenastAndradAv" />
                    <xs:element xmlns:q12="http://schemas.ladok.se" ref="q12:Uid" />
                    <xs:element name="Typ" type="xs:string" />
                    <xs:element name="Varde" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Kontaktuppgifter">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" xmlns:q13="http://schemas.ladok.se/dap" ref="q13:link" />
        <xs:element xmlns:q14="http://schemas.ladok.se/dap" ref="q14:LarosateID" />
        <xs:element xmlns:q15="http://schemas.ladok.se" ref="q15:SenastSparad" />
        <xs:element xmlns:q16="http://schemas.ladok.se" ref="q16:SenastAndradAv" />
        <xs:element xmlns:q17="http://schemas.ladok.se" ref="q17:Uid" />
        <xs:element name="Epostadress" type="xs:string" />
        <xs:element name="EpostadressSenastAndrad" type="xs:dateTime" />
        <xs:element maxOccurs="unbounded" name="Postadresser">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CareOf" type="xs:string" />
              <xs:element name="Land" type="xs:string" />
              <xs:element name="PostadressTyp" type="xs:string" />
              <xs:element name="Postnummer" type="xs:string" />
              <xs:element name="Postort" type="xs:string" />
              <xs:element name="Utdelningsadress" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="SenastAndrad" type="xs:dateTime" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="StudentUID" type="xs:string" />
        <xs:element name="Telefonnummer" type="xs:string" />
        <xs:element name="TelefonnummerSenastAndrad" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>