INT0014.identity.sp.adapter/INT0014.identity.sp.adapter/src/Schemas/INT0012.esb.identity.person.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.uu.se/schemas/integration/2015/Identity" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.uu.se/schemas/integration/2015/Identity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Person">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PersonNumber" type="xs:unsignedLong" />
      </xs:sequence>
      <xs:attribute name="identifier" type="xs:unsignedLong" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>