Shared.Schemas/Ladok/schemas.ladok.se-ar.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ar="http://schemas.ladok.se/arendestod" xmlns:base="http://schemas.ladok.se" xmlns:dap="http://schemas.ladok.se/dap" xmlns:events="http://schemas.ladok.se/events" elementFormDefault="qualified" targetNamespace="http://schemas.ladok.se/arendestod" version="1.0">

  <xs:import namespace="http://schemas.ladok.se/dap" schemaLocation="schemas.ladok.se-dap.xsd"/>

  <xs:import namespace="http://schemas.ladok.se" schemaLocation="schemas.ladok.se.xsd"/>

  <xs:import namespace="http://schemas.ladok.se/events" schemaLocation="schemas.ladok.se-events.xsd"/>

  <xs:element name="Ansokan" type="ar:Ansokan"/>

  <xs:element name="Ansokanstatus" type="ar:Ansokanstatus"/>

  <xs:element name="Arende" type="ar:Arende"/>

  <xs:element name="ArendekorgEvent" type="ar:ArendekorgEvent"/>

  <xs:element name="ArendekorgFordelningsfilterEvent" type="ar:ArendekorgFordelningsfilterEvent"/>

  <xs:element name="ArendekorgFordelningsregelEvent" type="ar:ArendekorgFordelningsregelEvent"/>

  <xs:element name="Arenden" type="ar:Arenden"/>

  <xs:element name="Arendeparametrar" type="ar:Arendeparametrar"/>

  <xs:element name="Arendestatus" type="ar:Arendestatus"/>

  <xs:element name="Arendetyp" type="ar:Arendetyp"/>

  <xs:element name="Arendetyper" type="ar:Arendetyper"/>

  <xs:element name="Bilaga" type="ar:Bilaga"/>

  <xs:element name="BilagaDatareferens" type="ar:BilagaDatareferens"/>

  <xs:element name="BilagaLista" type="ar:BilagaLista"/>

  <xs:element name="Fordelningsfilter" type="ar:Fordelningsfilter"/>

  <xs:element name="FordelningsfilterLista" type="ar:FordelningsfilterLista"/>

  <xs:element name="Fordelningskategori" type="ar:Fordelningskategori"/>

  <xs:element name="FordelningskategoriVarde" type="ar:FordelningskategoriVarde"/>

  <xs:element name="Fordelningsregel" type="ar:Fordelningsregel"/>

  <xs:element name="Handlaggare" type="ar:Handlaggare"/>

  <xs:element name="Notering" type="ar:Notering"/>

  <xs:element name="Referens" type="ar:Referens"/>

  <xs:element name="SokresultatArendehantering" type="ar:SokresultatArendehantering"/>

  <xs:element name="Underlag" type="ar:Underlag"/>

  <xs:complexType name="BilagaDatareferens">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Filstatus" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Arendeparametrar">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Fritext" type="xs:string"/>
          <xs:element minOccurs="0" ref="ar:Handlaggare"/>
          <xs:element minOccurs="0" name="Inkommet" type="xs:date"/>
          <xs:element minOccurs="0" ref="ar:Referens"/>
          <xs:element minOccurs="0" name="Student" type="base:Student"/>
          <xs:element minOccurs="0" ref="ar:Arendetyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Handlaggare">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Referens">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Referens" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Arendetyp">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="I18n" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Arenden">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Arenden" type="ar:Arende"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Arende">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" ref="ar:Handlaggare"/>
          <xs:element minOccurs="0" name="Inkommet" type="xs:date"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Noteringar" type="ar:Notering"/>
          <xs:element minOccurs="0" ref="ar:Referens"/>
          <xs:element minOccurs="0" name="Sammanfattning" type="xs:string"/>
          <xs:element name="Status" type="ar:Arendestatus"/>
          <xs:element minOccurs="0" name="Student" type="base:Student"/>
          <xs:element minOccurs="0" name="ArendekorgID" type="xs:string"/>
          <xs:element name="Arendenummer" type="xs:string"/>
          <xs:element ref="ar:Arendetyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Notering">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anvandarnamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Datum" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="Handelse" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Notering" type="xs:string"/>
          <xs:element minOccurs="0" name="Status" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Arendestatus">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
          <xs:element name="Id" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Bilaga">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="Bilagenamn" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArendekorgEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Arendetyper">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ar:Arendetyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FordelningsfilterLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ar:Fordelningsfilter"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Fordelningsfilter">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Fordelningsregler" type="ar:Fordelningsregel"/>
          <xs:element minOccurs="0" name="ArendekorgID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Fordelningsregel">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element ref="ar:Fordelningskategori"/>
          <xs:element name="FordelningsfilterUID" type="xs:string"/>
          <xs:element maxOccurs="unbounded" ref="ar:FordelningskategoriVarde"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FordelningskategoriVarde">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Varde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArendekorgFordelningsfilterEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="FordelningsfilterUID" type="ar:Fordelningsfilter"/>
          <xs:element minOccurs="0" name="EventTyp" type="base:Handelsetyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Underlag">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="ArendeUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Ansokan">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Bilagor" type="xs:string"/>
          <xs:element minOccurs="0" name="Inkommet" type="xs:date"/>
          <xs:element minOccurs="0" name="Meddelande" type="xs:string"/>
          <xs:element minOccurs="0" name="Status" type="ar:Ansokanstatus"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Ansokanstatus">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
          <xs:element name="Id" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SokresultatArendehantering">
    <xs:complexContent>
      <xs:extension base="base:Sokresultat">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Resultat" type="ar:Arende"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArendekorgFordelningsregelEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" ref="ar:Fordelningsregel"/>
          <xs:element minOccurs="0" name="EventTyp" type="base:Handelsetyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="BilagaLista">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Bilagor" type="ar:Bilaga"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="Fordelningskategori">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BEVISTYP"/>
      <xs:enumeration value="ARENDETYP"/>
      <xs:enumeration value="PRECISERING"/>
      <xs:enumeration value="ORGANISATION"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
