Shared.Schemas/Ladok/schemas.ladok.se-kataloginformation.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:av="http://schemas.ladok.se/avisering" xmlns:base="http://schemas.ladok.se" xmlns:dap="http://schemas.ladok.se/dap" xmlns:events="http://schemas.ladok.se/events" xmlns:ki="http://schemas.ladok.se/kataloginformation" elementFormDefault="qualified" targetNamespace="http://schemas.ladok.se/kataloginformation" version="1.0">

  <xs:import namespace="http://schemas.ladok.se/events" schemaLocation="schemas.ladok.se-events.xsd"/>

  <xs:import namespace="http://schemas.ladok.se" schemaLocation="schemas.ladok.se.xsd"/>

  <xs:import namespace="http://schemas.ladok.se/dap" schemaLocation="schemas.ladok.se-dap.xsd"/>

  <xs:import namespace="http://schemas.ladok.se/avisering" schemaLocation="schemas.ladok.se-av.xsd"/>

  <xs:element name="AktivitetSomKraverAterautentisering" type="ki:AktivitetSomKraverAterautentisering"/>

  <xs:element name="AktivitetSomKraverAterautentiseringEvent" type="ki:AktivitetSomKraverAterautentiseringEvent"/>

  <xs:element name="AktiviteterSomKraverAterautentisering" type="ki:AktiviteterSomKraverAterautentisering"/>

  <xs:element name="Aktivitetstillfallestyp" type="ki:Aktivitetstillfallestyp"/>

  <xs:element name="AktivitetstillfallestypEvent" type="ki:AktivitetstillfallestypEvent"/>

  <xs:element name="Aktivitetstillfallestyper" type="ki:Aktivitetstillfallestyper"/>

  <xs:element name="AlternativaAnvandareLista" type="ki:AlternativaAnvandareLista"/>

  <xs:element name="Amnesgrupp" type="ki:Amnesgrupp"/>

  <xs:element name="AmnesgruppEvent" type="ki:AmnesgruppEvent"/>

  <xs:element name="Amnesgrupper" type="ki:Amnesgrupper"/>

  <xs:element name="Amnesklass" type="ki:Amnesklass"/>

  <xs:element name="AmnesklassEvent" type="ki:AmnesklassEvent"/>

  <xs:element name="Amnesklasser" type="ki:Amnesklasser"/>

  <xs:element name="Amnesord" type="ki:Amnesord"/>

  <xs:element name="AmnesordEvent" type="ki:AmnesordEvent"/>

  <xs:element name="AmnesordLista" type="ki:AmnesordLista"/>

  <xs:element name="Antagningsomgang" type="ki:Antagningsomgang"/>

  <xs:element name="AntagningsomgangEvent" type="ki:AntagningsomgangEvent"/>

  <xs:element name="Antagningsomgangar" type="ki:Antagningsomgangar"/>

  <xs:element name="AnvandarHistorik" type="ki:AnvandarHistorik"/>

  <xs:element name="AnvandarHistorikLista" type="ki:AnvandarHistorikLista"/>

  <xs:element name="Anvandarbehorighet" type="ki:Anvandarbehorighet"/>

  <xs:element name="AnvandarbehorighetEnkel" type="ki:AnvandarbehorighetEnkel"/>

  <xs:element name="AnvandarbehorighetLista" type="ki:AnvandarbehorighetLista"/>

  <xs:element name="AnvandarbehorigheterEvent" type="ki:AnvandarbehorigheterEvent"/>

  <xs:element name="AnvandarbehorighetsstatusI18n" type="ki:AnvandarbehorighetsstatusI18n"/>

  <xs:element name="AnvandarbehorighetsstatusLista" type="ki:AnvandarbehorighetsstatusLista"/>

  <xs:element name="Anvandare" type="ki:Anvandare"/>

  <xs:element name="AnvandareAndradEvent" type="ki:AnvandareAndradEvent"/>

  <xs:element name="AnvandareBaseEvent" type="ki:AnvandareBaseEvent"/>

  <xs:element name="AnvandareLista" type="ki:AnvandareLista"/>

  <xs:element name="AnvandareRESTRef" type="ki:AnvandareRESTRef"/>

  <xs:element name="AnvandareSkapadEvent" type="ki:AnvandareSkapadEvent"/>

  <xs:element name="Anvandarinformation" type="ki:Anvandarinformation"/>

  <xs:element name="Behorighetsprofil" type="ki:Behorighetsprofil"/>

  <xs:element name="BehorighetsprofilEvent" type="ki:BehorighetsprofilEvent"/>

  <xs:element name="BehorighetsprofilLista" type="ki:BehorighetsprofilLista"/>

  <xs:element name="Betygsgrad" type="ki:Betygsgrad"/>

  <xs:element name="Betygsskala" type="ki:Betygsskala"/>

  <xs:element name="BetygsskalaEvent" type="ki:BetygsskalaEvent"/>

  <xs:element name="Betygsskalor" type="ki:Betygsskalor"/>

  <xs:element name="Beviskategori" type="ki:Beviskategori"/>

  <xs:element name="BeviskategoriEvent" type="ki:BeviskategoriEvent"/>

  <xs:element name="BeviskategoriLista" type="ki:BeviskategoriLista"/>

  <xs:element name="DefinitionAvAntagningsomgang" type="ki:DefinitionAvAngtagningsomgang"/>

  <xs:element name="DefintionerAvAntagningsomgang" type="ki:DefinitionerAvAntagningsomgang"/>

  <xs:element name="Dokumentkonfiguration" type="ki:Dokumentkonfiguration"/>

  <xs:element name="Dokumentkonfigurationer" type="ki:Dokumentkonfigurationer"/>

  <xs:element name="Dokumentmall" type="ki:Dokumentmall"/>

  <xs:element name="Dokumentmallar" type="ki:Dokumentmallar"/>

  <xs:element name="Dokumentmallparameter" type="ki:Dokumentmallparameter"/>

  <xs:element name="Enhet" type="ki:Enhet"/>

  <xs:element name="EnhetEvent" type="ki:EnhetEvent"/>

  <xs:element name="Enheter" type="ki:Enheter"/>

  <xs:element name="EnumDummy" type="ki:EnumDummy"/>

  <xs:element name="ExternPart" type="ki:ExternPart"/>

  <xs:element name="ExternPartEvent" type="ki:ExternPartEvent"/>

  <xs:element name="ExternaParter" type="ki:ExternaParter"/>

  <xs:element name="Finansieringsform" type="ki:Finansieringsform"/>

  <xs:element name="FinansieringsformEvent" type="ki:FinansieringsformEvent"/>

  <xs:element name="Finansieringsformer" type="ki:Finansieringsformer"/>

  <xs:element name="Fordjupningsniva" type="ki:Fordjupningsniva"/>

  <xs:element name="FordjupningsnivaEvent" type="ki:FordjupningsnivaEvent"/>

  <xs:element name="Fordjupningsnivaer" type="ki:Fordjupningsnivaer"/>

  <xs:element name="Forkunskapsniva" type="ki:Forkunskapsniva"/>

  <xs:element name="ForkunskapsnivaEvent" type="ki:ForkunskapsnivaEvent"/>

  <xs:element name="Forkunskapsnivaer" type="ki:Forkunskapsnivaer"/>

  <xs:element name="Huvudomradesgrupp" type="ki:Huvudomradesgrupp"/>

  <xs:element name="HuvudomradesgruppEvent" type="ki:HuvudomradesgruppEvent"/>

  <xs:element name="HuvudomradesgruppLista" type="ki:HuvudomradesgruppLista"/>

  <xs:element name="I18n" type="ki:I18n"/>

  <xs:element name="I18nLista" type="ki:I18nLista"/>

  <xs:element name="InganendePart" type="ki:InganendePart"/>

  <xs:element name="InloggningRepresentation" type="ki:InloggningRepresentation"/>

  <xs:element name="Kommun" type="ki:Kommun"/>

  <xs:element name="KommunEvent" type="ki:KommunEvent"/>

  <xs:element name="Kommuner" type="ki:Kommuner"/>

  <xs:element name="KonfigurationAvAterautentisering" type="ki:KonfigurationAvAterautentisering"/>

  <xs:element name="KonfigurationAvAterautentiseringEvent" type="ki:KonfigurationAvAterautentiseringEvent"/>

  <xs:element name="KonfigurationerAvAterautentisering" type="ki:KonfigurationerAvAterautentisering"/>

  <xs:element name="Konfigurationsobjekt" type="ki:Konfigurationsobjekt"/>

  <xs:element name="KonfigurationsobjektEvent" type="ki:KonfigurationsobjektEvent"/>

  <xs:element name="KravPaTidigareStudier" type="ki:KravPaTidigareStudier"/>

  <xs:element name="KravPaTidigareStudierEvent" type="ki:KravPaTidigareStudierEvent"/>

  <xs:element name="KravPaTidigareStudierLista" type="ki:KravPaTidigareStudierLista"/>

  <xs:element name="LadokOTP" type="ki:LadokOTP"/>

  <xs:element name="Lan" type="ki:Lan"/>

  <xs:element name="LanEvent" type="ki:LanEvent"/>

  <xs:element name="LanLista" type="ki:LanLista"/>

  <xs:element name="Land" type="ki:Land"/>

  <xs:element name="LandEvent" type="ki:LandEvent"/>

  <xs:element name="Lander" type="ki:Lander"/>

  <xs:element name="Larosate" type="ki:Larosate"/>

  <xs:element name="Larosaten" type="ki:Larosaten"/>

  <xs:element name="Larosatesinformation" type="ki:Larosatesinformation"/>

  <xs:element name="LarosatesinformationEvent" type="ki:LarosatesinformationEvent"/>

  <xs:element name="LarosatesinformationLista" type="ki:LarosatesinformationLista"/>

  <xs:element name="LokalText" type="ki:LokalText"/>

  <xs:element name="LokalaTexter" type="ki:LokalaTexter"/>

  <xs:element name="MFAOTP" type="ki:MFAOTP"/>

  <xs:element name="Markningsnyckel" type="ki:Markningsnyckel"/>

  <xs:element name="MarkningsnyckelEvent" type="ki:MarkningsnyckelEvent"/>

  <xs:element name="Markningsnycklar" type="ki:Markningsnycklar"/>

  <xs:element name="Markningsvarde" type="ki:Markningsvarde"/>

  <xs:element name="MarkningsvardeEvent" type="ki:MarkningsvardeEvent"/>

  <xs:element name="NationellExamensgrupp" type="ki:NationellExamensgrupp"/>

  <xs:element name="NationellExamensgruppEvent" type="ki:NationellExamensgruppEvent"/>

  <xs:element name="NationellMallForPeriod" type="ki:NationellMallForPeriod"/>

  <xs:element name="NationellaExamensgrupper" type="ki:NationellaExamensgrupper"/>

  <xs:element name="NationellaForskningsamnen" type="ki:NationellaForskningsamnen"/>

  <xs:element name="NationellaMallarForPeriod" type="ki:NationellaMallarForPeriod"/>

  <xs:element name="NationellaUndervisningsamnen" type="ki:NationellaUndervisningsamnen"/>

  <xs:element name="NationelltForskningsamne" type="ki:NationelltForskningsamne"/>

  <xs:element name="NationelltForskningsamneEvent" type="ki:NationelltForskningsamneEvent"/>

  <xs:element name="NationelltUndervisningsamne" type="ki:NationelltUndervisningsamne"/>

  <xs:element name="NationelltUndervisningsamneEvent" type="ki:NationelltUndervisningsamneEvent"/>

  <xs:element name="NivaInomStudieordning" type="ki:NivaInomStudieordning"/>

  <xs:element name="NivaInomStudieordningEvent" type="ki:NivaInomStudieordningEvent"/>

  <xs:element name="NivaerInomStudieordning" type="ki:NivaerInomStudieordning"/>

  <xs:element name="NyLinjeorganisationsenhet" type="ki:NyLinjeorganisationsenhet"/>

  <xs:element name="OathTokenInit" type="ki:OathTokenInit"/>

  <xs:element name="Omradesbehorighet" type="ki:Omradesbehorighet"/>

  <xs:element name="OmradesbehorighetEvent" type="ki:OmradesbehorighetEvent"/>

  <xs:element name="Omradesbehorigheter" type="ki:Omradesbehorigheter"/>

  <xs:element name="Organisation" type="ki:Organisation"/>

  <xs:element name="OrganisationLista" type="ki:OrganisationLista"/>

  <xs:element name="OrganisationSkapadEvent" type="ki:OrganisationSkapadEvent"/>

  <xs:element name="OrganisationUppdateradEvent" type="ki:OrganisationUppdateradEvent"/>

  <xs:element name="Organisationsenhetstyp" type="ki:Organisationsenhetstyp"/>

  <xs:element name="OrganisationsenhetstypEvent" type="ki:OrganisationsenhetstypEvent"/>

  <xs:element name="OrganisationsenhetstypLista" type="ki:OrganisationsenhetstypLista"/>

  <xs:element name="Organisationskoppling" type="ki:Organisationskoppling"/>

  <xs:element name="OrganisationskopplingEvent" type="ki:OrganisationskopplingEvent"/>

  <xs:element name="OrganisationskopplingLista" type="ki:OrganisationskopplingLista"/>

  <xs:element name="OrganisationskopplingSkapadEvent" type="ki:OrganisationskopplingSkapadEvent"/>

  <xs:element name="OrganisationskopplingUppdateradEvent" type="ki:OrganisationskopplingUppdateradEvent"/>

  <xs:element name="Organisationskopplingstyp" type="ki:Organisationskopplingstyp"/>

  <xs:element name="OrganisationskopplingstypEvent" type="ki:OrganisationskopplingstypEvent"/>

  <xs:element name="Organisationskopplingstyper" type="ki:Organisationskopplingstyper"/>

  <xs:element name="OrsakAvstangning" type="ki:OrsakAvstangning"/>

  <xs:element name="OrsakAvstangningEvent" type="ki:OrsakAvstangningEvent"/>

  <xs:element name="OrsakEjAvgiftsskyldig" type="ki:OrsakEjAvgiftsskyldig"/>

  <xs:element name="OrsakEjAvgiftsskyldigEvent" type="ki:OrsakEjAvgiftsskyldigEvent"/>

  <xs:element name="OrsakerAvstangning" type="ki:OrsakerAvstangning"/>

  <xs:element name="OrsakerEjAvgiftsskyldig" type="ki:OrsakerEjAvgiftsskyldig"/>

  <xs:element name="OuthTokenStatus" type="ki:OuthTokenStatus"/>

  <xs:element name="Period" type="ki:Period"/>

  <xs:element name="PeriodEvent" type="ki:PeriodEvent"/>

  <xs:element name="PeriodUtifranNationellMallForPeriod" type="ki:PeriodUtifranNationellMallForPeriod"/>

  <xs:element name="Perioder" type="ki:Perioder"/>

  <xs:element name="Periodtyp" type="ki:Periodtyp"/>

  <xs:element name="PeriodtypEvent" type="ki:PeriodtypEvent"/>

  <xs:element name="PeriodtypLista" type="ki:PeriodtypLista"/>

  <xs:element name="Praktiktyp" type="ki:Praktiktyp"/>

  <xs:element name="PraktiktypEvent" type="ki:PraktiktypEvent"/>

  <xs:element name="Praktiktyper" type="ki:Praktiktyper"/>

  <xs:element name="Regelvarde" type="ki:Regelvarde"/>

  <xs:element name="RegelverkForUtbildningstyp" type="ki:RegelverkForUtbildningstyp"/>

  <xs:element name="SakerhetsnivaForAterautentisering" type="ki:SakerhetsnivaForAterautentisering"/>

  <xs:element name="SakerhetsnivaForAterautentiseringEvent" type="ki:SakerhetsnivaForAterautentiseringEvent"/>

  <xs:element name="SakerhetsnivaerForAterautentisering" type="ki:SakerhetsnivaerForAterautentisering"/>

  <xs:element name="SokresultatAnvBehorighetKataloginformation" type="ki:SokresultatAnvBehorighetKataloginformation"/>

  <xs:element name="SokresultatOrganisationKataloginformation" type="ki:SokresultatOrganisationKataloginformation"/>

  <xs:element name="Studiefinansiering" type="ki:Studiefinansiering"/>

  <xs:element name="StudiefinansieringEvent" type="ki:StudiefinansieringEvent"/>

  <xs:element name="Studiefinansieringar" type="ki:Studiefinansieringar"/>

  <xs:element name="Studielokalisering" type="ki:Studielokalisering"/>

  <xs:element name="StudielokaliseringEvent" type="ki:StudielokaliseringEvent"/>

  <xs:element name="Studielokaliseringar" type="ki:Studielokaliseringar"/>

  <xs:element name="Studieordning" type="ki:Studieordning"/>

  <xs:element name="StudieordningEvent" type="ki:StudieordningEvent"/>

  <xs:element name="Studieordningar" type="ki:Studieordningar"/>

  <xs:element name="Studietakt" type="ki:Studietakt"/>

  <xs:element name="StudietaktEvent" type="ki:StudietaktEvent"/>

  <xs:element name="Studietakter" type="ki:Studietakter"/>

  <xs:element name="SuccessivFordjupning" type="ki:SuccessivFordjupning"/>

  <xs:element name="SuccessivFordjupningEvent" type="ki:SuccessivFordjupningEvent"/>

  <xs:element name="SuccessivaFordjupningar" type="ki:SuccessivaFordjupningar"/>

  <xs:element name="SvenskOrt" type="ki:SvenskOrt"/>

  <xs:element name="SvenskOrtEvent" type="ki:SvenskOrtEvent"/>

  <xs:element name="SvenskaOrter" type="ki:SvenskaOrter"/>

  <xs:element name="Systemaktivitet" type="ki:Systemaktivitet"/>

  <xs:element name="SystemaktivitetLista" type="ki:SystemaktivitetLista"/>

  <xs:element name="Tilltradesniva" type="ki:Tilltradesniva"/>

  <xs:element name="TilltradesnivaEvent" type="ki:TilltradesnivaEvent"/>

  <xs:element name="Tilltradesnivaer" type="ki:Tilltradesnivaer"/>

  <xs:element name="Tjanstekonfiguration" type="ki:Tjanstekonfiguration"/>

  <xs:element name="TypAvExternPart" type="ki:TypAvExternPart"/>

  <xs:element name="TypAvExternPartEvent" type="ki:TypAvExternPartEvent"/>

  <xs:element name="TyperAvExternPart" type="ki:TyperAvExternPart"/>

  <xs:element name="Undervisningsform" type="ki:Undervisningsform"/>

  <xs:element name="UndervisningsformEvent" type="ki:UndervisningsformEvent"/>

  <xs:element name="Undervisningsformer" type="ki:Undervisningsformer"/>

  <xs:element name="Undervisningssprak" type="ki:Undervisningssprak"/>

  <xs:element name="UndervisningssprakEvent" type="ki:UndervisningssprakEvent"/>

  <xs:element name="UndervisningssprakLista" type="ki:UndervisningssprakLista"/>

  <xs:element name="Undervisningstid" type="ki:Undervisningstid"/>

  <xs:element name="UndervisningstidEvent" type="ki:UndervisningstidEvent"/>

  <xs:element name="Undervisningstider" type="ki:Undervisningstider"/>

  <xs:element name="Utbildningsform" type="ki:Utbildningsform"/>

  <xs:element name="UtbildningsformEvent" type="ki:UtbildningsformEvent"/>

  <xs:element name="Utbildningsformer" type="ki:Utbildningsformer"/>

  <xs:element name="Utbildningsomrade" type="ki:Utbildningsomrade"/>

  <xs:element name="UtbildningsomradeEvent" type="ki:UtbildningsomradeEvent"/>

  <xs:element name="Utbildningsomraden" type="ki:Utbildningsomraden"/>

  <xs:element name="Utbildningsregel" type="ki:Utbildningsregel"/>

  <xs:element name="Utbildningsregler" type="ki:Utbildningsregler"/>

  <xs:element name="Utbildningssamarbete" type="ki:Utbildningssamarbete"/>

  <xs:element name="UtbildningssamarbeteEvent" type="ki:UtbildningssamarbeteEvent"/>

  <xs:element name="Utbildningssamarbeten" type="ki:Utbildningssamarbeten"/>

  <xs:element name="Utbildningstyp" type="ki:Utbildningstyp"/>

  <xs:element name="UtbildningstypEvent" type="ki:UtbildningstypEvent"/>

  <xs:element name="UtbildningstypRelationerEvent" type="ki:UtbildningstypRelationerEvent"/>

  <xs:element name="Utbildningstyper" type="ki:Utbildningstyper"/>

  <xs:element name="Utbytesprogram" type="ki:Utbytesprogram"/>

  <xs:element name="UtbytesprogramEvent" type="ki:UtbytesprogramEvent"/>

  <xs:element name="UtbytesprogramLista" type="ki:UtbytesprogramLista"/>

  <xs:element name="UtlandskOrt" type="ki:UtlandskOrt"/>

  <xs:element name="UtlandskOrtEvent" type="ki:UtlandskOrtEvent"/>

  <xs:element name="UtlandskaOrter" type="ki:UtlandskaOrter"/>

  <xs:element name="XsltMallar" type="ki:XsltMallar"/>

  <xs:complexType name="LandEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnvandareListaIERepresentation">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Anvandare" type="ki:AnvandareIE"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AnvandareIE">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Anvandarbehorighet" type="ki:AnvandarbehorighetIE"/>
      <xs:element minOccurs="0" name="Anvandarnamn" type="xs:string"/>
      <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
      <xs:element minOccurs="0" name="Epost" type="xs:string"/>
      <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
      <xs:element minOccurs="0" name="Larosate" type="xs:int"/>
      <xs:element minOccurs="0" name="Sms" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AnvandarbehorighetIE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Behorighetsprofil" type="xs:string"/>
      <xs:element minOccurs="0" name="Organisation" type="xs:string"/>
      <xs:element minOccurs="0" name="Status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LarosatesinformationLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Larosatesinformation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Larosatesinformation">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrtID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationsenhetstypLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Organisationsenhetstyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Organisationsenhetstyp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Amnesklasser">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Amnesklass"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Amnesklass">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RegelverkForUtbildningstyp">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Regelvarden" type="ki:Regelvarde"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Regelvarde">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="Regelnamn" type="xs:string"/>
          <xs:element name="Varde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NyLinjeorganisationsenhet">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Giltighetsperiod" type="base:Datumperiod"/>
          <xs:element minOccurs="0" name="Organisationskod" type="xs:string"/>
          <xs:element minOccurs="0" name="Organisationsenhetstyp" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Enheter">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Enhet"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Enhet">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="Helarsvarde" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Organisationer" type="ki:Organisation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Organisation">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="Benamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Giltighetsperiod" type="base:Datumperiod"/>
          <xs:element name="Organisationskod" type="xs:string"/>
          <xs:element name="Organisationsenhetstyp" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="XsltMallar">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="lista" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Kommun">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="LanID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Amnesord">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Undervisningstider">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Undervisningstid"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Undervisningstid">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnvandareLista">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Anvandare"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Anvandare">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Anvandarbehorighet"/>
          <xs:element name="Anvandarnamn" type="xs:string"/>
          <xs:element name="Efternamn" type="xs:string"/>
          <xs:element name="Fornamn" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Anvandarbehorighet">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnvandareRef" type="ki:AnvandareRESTRef"/>
          <xs:element minOccurs="0" name="BehorighetsprofilRef" type="base:RESTRef"/>
          <xs:element minOccurs="0" name="BestalldTidpunkt" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="OrganisationRef" type="base:RESTRef"/>
          <xs:element minOccurs="0" name="Status" type="ki:Anvandarbehorighetsstatus"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnvandareRESTRef">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anvandarnamn" type="xs:string"/>
      <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
      <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
      <xs:element minOccurs="0" name="link" type="dap:RelationLink"/>
      <xs:element minOccurs="0" name="Uid" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AnvandarbehorigheterEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anvandarbehorigheter">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Anvandarbehorighet" type="ki:AnvandarbehorighetEnkel"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="AnvandareUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Handelsetyp" type="base:Handelsetyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnvandarbehorighetEnkel">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnvandareUID" type="xs:string"/>
          <xs:element minOccurs="0" name="BehorighetsprofilUID" type="xs:string"/>
          <xs:element minOccurs="0" name="OrganisationUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Status" type="ki:Anvandarbehorighetsstatus"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Omradesbehorigheter">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Omradesbehorighet"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Omradesbehorighet">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="Emilvarde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Studietakt">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="Takt" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Praktiktyper">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Praktiktyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Praktiktyp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KravPaTidigareStudierLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:KravPaTidigareStudier"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KravPaTidigareStudier">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="Emilvarde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningstypRelationerEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="TillfalleInomUtbildningstyper" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="UnderliggandeUtbildningstyper" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LadokOTP">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="OTP" type="xs:string"/>
          <xs:element minOccurs="0" name="GiltigtTill" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrsakerEjAvgiftsskyldig">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:OrsakEjAvgiftsskyldig"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrsakEjAvgiftsskyldig">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Undervisningsform">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudielokaliseringEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrtID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HuvudomradesgruppLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Huvudomradesgrupp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Huvudomradesgrupp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PeriodtypEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnvandarbehorighetLista">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Anvandarbehorighet"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="I18nLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Oversattning" type="ki:I18n"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="I18n">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="I18nNyckel" type="xs:string"/>
          <xs:element minOccurs="0" name="Text" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Studiefinansiering">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DefinitionAvAngtagningsomgang">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="SistaAnmalningsdag" type="xs:date"/>
          <xs:element minOccurs="0" name="SistaAnnonseringsdag" type="xs:date"/>
          <xs:element name="Studieavgiftsbelagd" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Markningsnyckel">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Markningsvarde"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Markningsvarde">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationellaUndervisningsamnen">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:NationelltUndervisningsamne"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationelltUndervisningsamne">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ExternaParter">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:ExternPart"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ExternPart">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="LandID" type="xs:int"/>
          <xs:element name="TypAvExternPartID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnhetEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element name="Helarsvarde" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnvandarbehorighetsstatusI18n">
    <xs:sequence>
      <xs:element minOccurs="0" name="I18nNyckel" type="xs:string"/>
      <xs:element minOccurs="0" name="ID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InganendePart">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdministrerandeLarosate" type="xs:boolean"/>
          <xs:element minOccurs="0" name="IngaendeExternPartID" type="xs:int"/>
          <xs:element minOccurs="0" name="IngaendeLarosateID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningsformer">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Utbildningsform"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningsform">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationskopplingEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrganisationskopplingUID" type="xs:string"/>
          <xs:element minOccurs="0" name="OrganisationskopplingstypID" type="xs:int"/>
          <xs:element minOccurs="0" name="UnderliggandeorganisationUID" type="xs:string"/>
          <xs:element minOccurs="0" name="OverliggandeorganisationUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Konfigurationsobjekt">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="kategori" type="xs:string"/>
          <xs:element minOccurs="0" name="varde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningssamarbeteEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element name="GemensamExamen" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="IngaendePart" type="ki:IngaendePartEventPart"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IngaendePartEventPart">
    <xs:sequence>
      <xs:element name="AdministrerandeLarosate" type="xs:boolean"/>
      <xs:element minOccurs="0" name="IngaendeExternPartID" type="xs:int"/>
      <xs:element minOccurs="0" name="IngaendeLarosateID" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SokresultatAnvBehorighetKataloginformation">
    <xs:complexContent>
      <xs:extension base="base:Sokresultat">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Resultat" type="ki:Anvandarbehorighet"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SuccessivFordjupning">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="NivaInomStudieordningID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KommunEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="LanID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="Ort">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FordjupningsnivaEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningstypEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element name="AvserTillfalle" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Grundtyp" type="xs:string"/>
          <xs:element minOccurs="0" name="NivaInomStudieordningID" type="xs:int"/>
          <xs:element minOccurs="0" name="Regelverk" type="ki:RegelverkForUtbildningstyp"/>
          <xs:element minOccurs="0" name="Sorteringsordning" type="xs:int"/>
          <xs:element minOccurs="0" name="StudieordningID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Land">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Betygsskala">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="Betygsgrader" type="ki:Betygsgrad"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Betygsgrad">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="GiltigSomSlutbetyg" type="xs:boolean"/>
          <xs:element name="Ordningsnummer" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Markningsnycklar">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Markningsnyckel"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningssamarbete">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element minOccurs="0" name="GemensamExamen" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="IngaendePart" type="ki:InganendePart"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AlternativaAnvandareLista">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="AlternativaLarosaten" type="ki:Larosate"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Anvandare"/>
          <xs:element name="BehorigAttBytaAnvandare" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Larosate">
    <xs:complexContent>
      <xs:extension base="base:BaseKatalogI18nEntitet">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MFAOTP">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="OTP" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationellaMallarForPeriod">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:NationellMallForPeriod"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationellMallForPeriod">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="FromDatum" type="xs:date"/>
          <xs:element name="PeriodtypID" type="xs:int"/>
          <xs:element name="TomDatum" type="xs:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Finansieringsformer">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Finansieringsform"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Finansieringsform">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Undervisningsformer">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Undervisningsform"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Behorighetsprofil">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="Benamningar" type="base:Benamningar"/>
          <xs:element name="Rattighetsniva" type="ki:Rattighetsniva"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Systemaktiviteter" type="ki:Systemaktivitet"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Systemaktivitet">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="I18nNyckel" type="xs:string"/>
          <xs:element minOccurs="0" name="Id" type="xs:int"/>
          <xs:element name="KlarForProduktion" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Rattighetsniva" type="ki:Rattighetsniva"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Tilltradesniva">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtlandskOrt">
    <xs:complexContent>
      <xs:extension base="ki:Ort">
        <xs:sequence>
          <xs:element name="LandID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BeviskategoriEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Dokumentkonfiguration">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="DokumentmallID" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Dokumentmallparametrar" type="ki:Dokumentmallparameter"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Dokumentmallparameter">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Nyckel" type="xs:string"/>
          <xs:element minOccurs="0" name="Varde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Betygsskalor">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Betygsskala"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HuvudomradesgruppEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TypAvExternPart">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationskopplingUppdateradEvent">
    <xs:complexContent>
      <xs:extension base="ki:OrganisationskopplingEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Fordjupningsnivaer">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Fordjupningsniva"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Fordjupningsniva">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BeviskategoriLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Beviskategori"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Beviskategori">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningsformEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Dokumentkonfigurationer">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Dokumentkonfiguration"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Studieordningar">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Studieordning"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Studieordning">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="EnhetID" type="xs:int"/>
          <xs:element name="UtbildningsformID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Studielokalisering">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrtID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningssamarbeten">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Utbildningssamarbete"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Perioder">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Period"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Period">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="FromDatum" type="xs:date"/>
          <xs:element name="PeriodtypID" type="xs:int"/>
          <xs:element name="TomDatum" type="xs:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationskopplingSkapadEvent">
    <xs:complexContent>
      <xs:extension base="ki:OrganisationskopplingEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KonfigurationerAvAterautentisering">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:KonfigurationAvAterautentisering"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KonfigurationAvAterautentisering">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="AktivitetSomKraverAterautentiseringID" type="xs:int"/>
          <xs:element name="SakerhetsnivaForAterautentiseringID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AktivitetSomKraverAterautentiseringEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UndervisningstidEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Studietakter">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Studietakt"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Antagningsomgang">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element minOccurs="0" name="SistaAnmalningsdag" type="xs:date"/>
          <xs:element name="SistaAnnonseringsdag" type="xs:date"/>
          <xs:element name="Studieavgiftsbelagd" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AmnesordEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PeriodEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="PeriodtypId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="OrganisationEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element name="Benamningar">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string"/>
                      <xs:element minOccurs="0" name="value" type="xs:string"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="Giltighetsperiod" type="base:Datumperiod"/>
          <xs:element minOccurs="0" name="Namn" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="OrganisationUID" type="xs:string"/>
          <xs:element minOccurs="0" name="OrganisationsenhetstypID" type="xs:int"/>
          <xs:element minOccurs="0" name="Organisationskod" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrsakAvstangning">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AktivitetstillfallestypEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationSkapadEvent">
    <xs:complexContent>
      <xs:extension base="ki:OrganisationEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KonfigurationsobjektEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Kategori" type="xs:string"/>
          <xs:element minOccurs="0" name="Varde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SvenskOrt">
    <xs:complexContent>
      <xs:extension base="ki:Ort">
        <xs:sequence>
          <xs:element name="KommunID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SakerhetsnivaForAterautentiseringEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BehorighetsprofilIE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Benamning" type="base:Benamningar"/>
      <xs:element name="Lroste" type="xs:int"/>
      <xs:element minOccurs="0" name="Rattighetsniva" type="ki:Rattighetsniva"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Systemaktiviteter" type="ki:SystemaktivitetIE"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SystemaktivitetIE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TypAvExternPartEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SokresultatOrganisationKataloginformation">
    <xs:complexContent>
      <xs:extension base="base:Sokresultat">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Resultat" type="ki:Organisation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AntagningsomgangEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="SistaAnmalningsdag" type="xs:date"/>
          <xs:element minOccurs="0" name="SistaAnnonseringsdag" type="xs:date"/>
          <xs:element name="Studieavgiftsbelagd" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningsregler">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Utbildningsregel"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningsregel">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Datatyp" type="base:Datatyp"/>
          <xs:element minOccurs="0" name="Namn" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="EnumDummy">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnvandarbehorighetsstatusEnum" type="ki:Anvandarbehorighetsstatus"/>
      <xs:element minOccurs="0" name="OrganisationOrderByEnum" type="ki:OrganisationOrderByEnum"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Dokumentmallar">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Dokumentmall"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Dokumentmall">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="Dokumenttyp" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Platshallare" type="xs:string"/>
          <xs:element name="SokvagTillMall" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationsenhetstypEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnvandarHistorik">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anvandarnamn" type="xs:string"/>
          <xs:element minOccurs="0" name="NyttNamn" type="xs:string"/>
          <xs:element minOccurs="0" name="AndradAv" type="xs:string"/>
          <xs:element minOccurs="0" name="AndradTidpunkt" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Kommuner">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Kommun"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="AnvandareBaseEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Anvandarbehorighet"/>
          <xs:element minOccurs="0" name="AnvandareUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Anvandarnamnet" type="xs:string"/>
          <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Email" type="xs:string"/>
          <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PraktiktypEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationelltForskningsamneEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BehorighetsprofilLista">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Behorighetsprofiler" type="ki:Behorighetsprofil"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LanEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Undervisningssprak">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SvenskaOrter">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:SvenskOrt"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationelltUndervisningsamneEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationellaForskningsamnen">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="NationellaForskningsamne" type="ki:NationelltForskningsamne"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationelltForskningsamne">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Forkunskapsnivaer">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Forkunskapsniva"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Forkunskapsniva">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SuccessivFordjupningEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="NivaInomStudieordningID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DefinitionerAvAntagningsomgang">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DefintionAvAntagningsomgang" type="ki:DefinitionAvAngtagningsomgang"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OathTokenInit">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="QrPngBase64" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NivaerInomStudieordning">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:NivaInomStudieordning"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NivaInomStudieordning">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnvandarbehorighetsstatusLista">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Anvandarbehorighetsstatus" type="ki:AnvandarbehorighetsstatusI18n"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Aktivitetstillfallestyp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationskopplingstypEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationUppdateradEvent">
    <xs:complexContent>
      <xs:extension base="ki:OrganisationEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PeriodUtifranNationellMallForPeriod">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element name="FromDatum" type="xs:date"/>
          <xs:element name="NationellMallForPeriodID" type="xs:int"/>
          <xs:element name="TomDatum" type="xs:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AmnesklassEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Amnesgrupper">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Amnesgrupp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Amnesgrupp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SakerhetsnivaerForAterautentisering">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:SakerhetsnivaForAterautentisering"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SakerhetsnivaForAterautentisering">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrsakEjAvgiftsskyldigEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AmnesordLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="AmnesordLista" type="ki:Amnesord"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnvandareAndradEvent">
    <xs:complexContent>
      <xs:extension base="ki:AnvandareBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TilltradesnivaEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Organisationskoppling">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrganisationskopplingstypID" type="xs:int"/>
          <xs:element minOccurs="0" name="UnderliggandeRef" type="base:RESTRef"/>
          <xs:element minOccurs="0" name="OverliggandeRef" type="base:RESTRef"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KravPaTidigareStudierEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Emilvarde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ForkunskapsnivaEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationellExamensgrupp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemaktivitetLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Systemaktivitet"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudietaktEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Takt" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Antagningsomgangar">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Antagningsomgang"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Studielokaliseringar">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Studielokalisering"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OmradesbehorighetEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Emilvarde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AktiviteterSomKraverAterautentisering">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:AktivitetSomKraverAterautentisering"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AktivitetSomKraverAterautentisering">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Lander">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Land"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FinansieringsformEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OuthTokenStatus">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="anvandareUid" type="xs:string"/>
          <xs:element name="initierad" type="xs:boolean"/>
          <xs:element name="kopplad" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationellExamensgruppEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Lan">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Larosaten">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Larosate"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LokalText">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="EngelskText" type="xs:string"/>
          <xs:element minOccurs="0" name="Nyckel" type="xs:string"/>
          <xs:element minOccurs="0" name="SvenskText" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Studiefinansieringar">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Studiefinansiering"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningsomrade">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Aktivitetstillfallestyper">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Aktivitetstillfallestyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Periodtyp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="PeriodtypKategori" type="ki:PeriodtypKategori"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AmnesgruppEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LarosatesinformationEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="LarosateID" type="xs:string"/>
          <xs:element minOccurs="0" name="OrtID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Tjanstekonfiguration">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Konfigurationsobjekt"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BetygsskalaEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Betygsgrader" type="ki:BetygsgradEventPart"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BetygsgradEventPart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
      <xs:element minOccurs="0" name="Betygskod" type="xs:string"/>
      <xs:element name="GiltigSomSlutbetyg" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Id" type="xs:string"/>
      <xs:element name="Ordningsnummer" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UtlandskOrtEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="LandID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Tilltradesnivaer">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Tilltradesniva"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbytesprogramLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Utbytesprogram"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbytesprogram">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BehorighetsprofilEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="EventTyp" type="xs:string"/>
          <xs:element minOccurs="0" name="Rattighetsniva" type="ki:Rattighetsniva"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Systemaktiviteter" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudieordningEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="EnhetID" type="xs:string"/>
          <xs:element minOccurs="0" name="UtbildningsformID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Organisationskopplingstyper">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Organisationskopplingstyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Organisationskopplingstyp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningsomraden">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Utbildningsomrade"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SvenskOrtEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="KommunID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtlandskaOrter">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:UtlandskOrt"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UndervisningsformEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbytesprogramEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Anvandarinformation">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnvandareUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Epost" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Leveranspreferenser" type="av:Leveranspreferens"/>
          <xs:element minOccurs="0" name="Sms" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PeriodtypLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Periodtyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NivaInomStudieordningEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrsakAvstangningEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UndervisningssprakEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BehorighetsprofilListaIE">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Behorighetsprofiler" type="ki:BehorighetsprofilIE"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MarkningsnyckelEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningsomradeEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MarkningsvardeEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="MarkningsnyckelID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KonfigurationAvAterautentiseringEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="AktivitetSomKraverAterAutentiseringID" type="xs:string"/>
          <xs:element minOccurs="0" name="SakerhetsnivaForAterautentiseringID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationskopplingLista">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Organisationskopplingar" type="ki:Organisationskoppling"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LanLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Lan"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InloggningRepresentation">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnvandareUID" type="xs:string"/>
          <xs:element minOccurs="0" name="InloggningStatus" type="ki:InloggningStatus"/>
          <xs:element minOccurs="0" name="Larosateskod" type="xs:string"/>
          <xs:element minOccurs="0" name="UserPermissions" type="base:UserPermissions"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SuccessivaFordjupningar">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:SuccessivFordjupning"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningstyper">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Utbildningstyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningstyp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="AvserTillfalle" type="xs:boolean"/>
          <xs:element name="Grundtyp" type="base:Utbildningsgrundtyp"/>
          <xs:element minOccurs="0" name="NivaInomStudieordningID" type="xs:int"/>
          <xs:element minOccurs="0" name="Regelverk" type="ki:RegelverkForUtbildningstyp"/>
          <xs:element name="Sorteringsordning" type="xs:int"/>
          <xs:element name="StudieordningID" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="TillfalleInomUtbildningstyper" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="UtbildningstyperInomUtbildningstyp" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudiefinansieringEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationellaExamensgrupper">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:NationellExamensgrupp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnvandarHistorikLista">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="AnvandarHistorikList" type="ki:AnvandarHistorik"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TyperAvExternPart">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:TypAvExternPart"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ExternPartEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="LandID" type="xs:string"/>
          <xs:element minOccurs="0" name="TypAvExternPartID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LokalaTexter">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="FordefinieradeTexter" type="ki:LokalText"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LokalaTexter" type="ki:LokalText"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnvandareSkapadEvent">
    <xs:complexContent>
      <xs:extension base="ki:AnvandareBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrsakerAvstangning">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:OrsakAvstangning"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UndervisningssprakLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Undervisningssprak"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="Anvandarbehorighetsstatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AKTIV"/>
      <xs:enumeration value="OBEHANDLAD"/>
      <xs:enumeration value="INAKTIV"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Rattighetsniva">
    <xs:restriction base="xs:string">
      <xs:enumeration value="rattighetsniva.nationell"/>
      <xs:enumeration value="rattighetsniva.student"/>
      <xs:enumeration value="rattighetsniva.las"/>
      <xs:enumeration value="rattighetsniva.lokal"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="OrganisationOrderByEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KOD_DESC"/>
      <xs:enumeration value="KOD_ASC"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PeriodtypKategori">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NationelltFaststlldPeriod"/>
      <xs:enumeration value="NationelltBaseradPeriod"/>
      <xs:enumeration value="Lrostesperiod"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="InloggningStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="lyckades"/>
      <xs:enumeration value="anvandare.saknas.och.har.skapats"/>
      <xs:enumeration value="larosatet.inte.konfigurerat"/>
      <xs:enumeration value="anvandare.far.inte.agera.student"/>
      <xs:enumeration value="anvandare.saknas"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
